TD.icon {
	VERTICAL-ALIGN: middle; WIDTH: 24px; HEIGHT: 24px; TEXT-ALIGN: center
}
TD.sp {
	VERTICAL-ALIGN: middle; WIDTH: 8px; HEIGHT: 24px; TEXT-ALIGN: center
}
TD.xz {
	VERTICAL-ALIGN: middle; WIDTH: 47px; HEIGHT: 24px; TEXT-ALIGN: center
}
TD.bq {
	VERTICAL-ALIGN: middle; WIDTH: 49px; HEIGHT: 24px; TEXT-ALIGN: center
}
DIV A.n {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 16px; PADDING-TOP: 2px; HEIGHT: 16px; TEXT-DECORATION: none
}
.editorToolbar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 4px; HEIGHT: 26px
}
.editorToolbarButton {
	BORDER-RIGHT: #e5e5e1 1px solid; BORDER-TOP: #e5e5e1 1px solid; MARGIN: 0px; BORDER-LEFT: #e5e5e1 1px solid; WIDTH: 20px; BORDER-BOTTOM: #e5e5e1 1px solid; HEIGHT: 20px
}
.editorToolbarButtonDown {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #999999 1px solid; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; WIDTH: 20px; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 20px
}
.editorToolbarLine {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 4px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.editorFontFace {
	BORDER-RIGHT: #838383 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #838383 1px solid; PADDING-LEFT: 1px; Z-INDEX: 100000; BACKGROUND: #fff; LEFT: 2px; PADDING-BOTTOM: 1px; BORDER-LEFT: #838383 1px solid; WIDTH: 105px; PADDING-TOP: 1px; BORDER-BOTTOM: #838383 1px solid; POSITION: absolute; TOP: 35px; HEIGHT: 260px
}
.editorFontSize {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; Z-INDEX: 100000; LEFT: 26px; PADDING-BOTTOM: 1px; WIDTH: 90px; PADDING-TOP: 1px; POSITION: absolute; TOP: 35px; HEIGHT: 160px
}
.editorList {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; Z-INDEX: 100000; LEFT: 26px; PADDING-BOTTOM: 1px; WIDTH: 80px; PADDING-TOP: 1px; POSITION: absolute; TOP: 35px; HEIGHT: 40px
}
.editorAlign {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; Z-INDEX: 100000; LEFT: 26px; PADDING-BOTTOM: 1px; WIDTH: 80px; PADDING-TOP: 1px; POSITION: absolute; TOP: 35px; HEIGHT: 50px
}
.editorForeColor {
	Z-INDEX: 100000; LEFT: -500px; POSITION: absolute; TOP: -500px
}
.editorPortrait {
	Z-INDEX: 100000; LEFT: -500px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; POSITION: absolute; TOP: -500px; BORDER-BOTTOM-STYLE: none
}
.editorPortrait TABLE {
	COLOR: #000000; BORDER-COLLAPSE: separate
}
.htmlEditorFrameWrap {
	BORDER-RIGHT: #e4e2de 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #e4e2de 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: #e4e2de 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #e4e2de 1px solid
}
.plainEditorFrameWrap {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.sourceEditor {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: -1px 0px 0px; OVERFLOW: scroll; WIDTH: 716px; PADDING-TOP: 0px
}
.ico {
	VERTICAL-ALIGN: middle; WIDTH: 24px; HEIGHT: 24px; TEXT-ALIGN: center
}
.ico2 {
	VERTICAL-ALIGN: middle; WIDTH: 27px; HEIGHT: 24px; TEXT-ALIGN: center
}
.ico3 {
	VERTICAL-ALIGN: middle; WIDTH: 25px; HEIGHT: 24px; TEXT-ALIGN: center
}
.ico4 {
	VERTICAL-ALIGN: middle; WIDTH: 8px; HEIGHT: 24px; TEXT-ALIGN: center
}
.icons {
	FONT-SIZE: 1px; FLOAT: left; BACKGROUND-IMAGE: url(http://st.blog.163.com/style/common/htmlEditor/toolbarbg.gif); MARGIN: 0px; WIDTH: 22px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px
}
.icoline {
	FLOAT: left; MARGIN: 0px 1px; WIDTH: auto; HEIGHT: 22px
}
.icoUndo {
	BACKGROUND-POSITION: 0px 1px
}
.icoRedo {
	BACKGROUND-POSITION: -24px 1px
}
.icoCut {
	BACKGROUND-POSITION: -48px 1px
}
.icoCpy {
	BACKGROUND-POSITION: -72px 1px
}
.icoPse {
	BACKGROUND-POSITION: -96px 1px
}
.icoFfm {
	BACKGROUND-POSITION: -120px 1px
}
.icoFsz {
	BACKGROUND-POSITION: -144px 1px
}
.icoWgt {
	BACKGROUND-POSITION: -168px 1px
}
.icoIta {
	BACKGROUND-POSITION: -192px 1px
}
.icoUln {
	BACKGROUND-POSITION: -216px 1px
}
.icoAgn {
	BACKGROUND-POSITION: -240px 1px
}
.icoLst {
	BACKGROUND-POSITION: -264px 1px
}
.icoIdt {
	BACKGROUND-POSITION: -288px 1px
}
.icoOdt {
	BACKGROUND-POSITION: -312px 1px
}
.icoPara {
	BACKGROUND-POSITION: -336px 1px
}
.icoFcl {
	BACKGROUND-POSITION: -360px 1px
}
.icoBcl {
	BACKGROUND-POSITION: -384px 1px
}
.icoLn {
	BACKGROUND-POSITION: -408px 1px
}
.icoTbl {
	BACKGROUND-POSITION: -432px 1px
}
.icoUrl {
	BACKGROUND-POSITION: -456px 1px
}
.icoImg {
	BACKGROUND-POSITION: -479px 1px
}
.icoMdi {
	BACKGROUND-POSITION: -504px 1px
}
.icoMfc {
	BACKGROUND-POSITION: -528px 1px
}
.icoFmt {
	BACKGROUND-POSITION: -552px 1px
}
.icoSource {
	BACKGROUND-POSITION: -576px 1px
}
.icoPreview {
	BACKGROUND-POSITION: -600px 1px
}
.icoMinus {
	BACKGROUND-POSITION: -624px 1px
}
.icoAdd {
	BACKGROUND-POSITION: -648px 1px
}
DIV A.n {
	COLOR: #000
}
DIV A.n:hover {
	BACKGROUND-COLOR: #e5e5e1
}
.editorToolbar {
	BACKGROUND-COLOR: #e5e5e1
}
.editorToolbarButtonOver {
	BORDER-RIGHT: #aaa 1px solid; BORDER-TOP: #fff 1px solid; MARGIN: 0px; BORDER-LEFT: #fff 1px solid; WIDTH: 20px; BORDER-BOTTOM: #aaa 1px solid; HEIGHT: 20px
}
.editorFontSize {
	BORDER-RIGHT: #838383 1px solid; BORDER-TOP: #838383 1px solid; BACKGROUND: #fff; BORDER-LEFT: #838383 1px solid; BORDER-BOTTOM: #838383 1px solid
}
.editorList {
	BORDER-RIGHT: #838383 1px solid; BORDER-TOP: #838383 1px solid; BACKGROUND: #fff; BORDER-LEFT: #838383 1px solid; BORDER-BOTTOM: #838383 1px solid
}
.editorAlign {
	BORDER-RIGHT: #838383 1px solid; BORDER-TOP: #838383 1px solid; BACKGROUND: #fff; BORDER-LEFT: #838383 1px solid; BORDER-BOTTOM: #838383 1px solid
}
.htmlEditor {
	FONT-SIZE: 14px; BACKGROUND-COLOR: #fff
}
.sourceEditor {
	BORDER-RIGHT: #e4e2de 1px solid; BORDER-TOP: #e4e2de 1px solid; BORDER-LEFT: #e4e2de 1px solid; BORDER-BOTTOM: #e4e2de 1px solid
}
.mf_nowchose {
	FONT-SIZE: 12px; BACKGROUND: url(http://st.blog.163.com/style/common/htmlEditor/tabon.gif) no-repeat left top; COLOR: #333333; HEIGHT: 30px; TEXT-ALIGN: left
}
.mf_other {
	BACKGROUND: url(http://st.blog.163.com/style/common/htmlEditor/taboff.gif) no-repeat left top; BORDER-LEFT: #aaaaaa 1px solid; HEIGHT: 30px
}
.mf_other A {
	DISPLAY: block; COLOR: #333333; LINE-HEIGHT: 28px; HEIGHT: 30px; TEXT-ALIGN: left
}
.mf_other A:hover {
	TEXT-DECORATION: none
}
.mf_other A:active {
	TEXT-DECORATION: none
}
.mf_page {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; WIDTH: 290px; LINE-HEIGHT: 20px; PADDING-TOP: 6px; HEIGHT: 25px; BACKGROUND-COLOR: #e5e5e1; TEXT-ALIGN: right
}
.mf_link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.mf_link:hover {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
.statusbar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; PADDING-TOP: 5px; HEIGHT: 18px; BACKGROUND-COLOR: #e5e5e1
}
.statusbarButton {
	BORDER-RIGHT: #e5e5e1 1px solid; BORDER-TOP: #e5e5e1 1px solid; MARGIN: 0px; BORDER-LEFT: #e5e5e1 1px solid; WIDTH: 20px; BORDER-BOTTOM: #e5e5e1 1px solid; HEIGHT: 20px
}
.mf_leftBorder {
	BORDER-LEFT: #aaaaaa 1px solid
}
