 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A {
	TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
TABLE {
	TABLE-LAYOUT: fixed; WIDTH: 100%
}
TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
EM {
	CURSOR: default; FONT-STYLE: normal
}
TEXTAREA {
	OVERFLOW: auto
}
SPAN.a_a {
	BEHAVIOR: url(/style/css/base/htc/htc.span.a.htc); CURSOR: pointer; moz-binding: url(/style/css/base/htc/bind.xml#htc.span.a.htc)
}
.g_htc_toggle {
	BEHAVIOR: url(/style/css/base/htc/htc.toggle.htc); moz-binding: url(/style/css/base/htc/bind.xml#htc.toggle.htc)
}
.g_htc_toggle .ck0 {
	DISPLAY: none
}
.toggle .ck0 {
	DISPLAY: inline
}
.toggle .ck1 {
	DISPLAY: none
}
.g_htc_selitm {
	BEHAVIOR: url(/style/css/base/htc/htc.selitm.htc); CURSOR: default; moz-binding: url(/style/css/base/htc/bind.xml#htc.selitm.htc)
}
.g_htc_selitm SPAN.del {
	VISIBILITY: hidden
}
.selitm SPAN.del {
	VISIBILITY: visible
}
.g_htc_selitm:hover SPAN.del {
	VISIBILITY: visible
}
.g_htc_over {
	BEHAVIOR: url(/style/css/base/htc/htc.over.htc); CURSOR: text
}
.g_htc_over:hover {
	BACKGROUND-COLOR: #ffffe1
}
.over {
	BACKGROUND-COLOR: #ffffe1
}
.g_htc_hvr {
	BEHAVIOR: url(/style/css/base/htc/htc.hvr.htc)
}
.g_htc_item {
	BEHAVIOR: url(/style/css/base/htc/htc.item.htc); moz-binding: url(/style/css/base/htc/bind.xml#htc.item.htc)
}
.g_htc_item_selected {
	BEHAVIOR: url(/style/css/base/htc/htc.item.selected.htc) url(/style/css/base/htc/htc.item.htc); moz-binding: url(/style/css/base/htc/bind.xml#htc.item.selected.htc|htc.item.htc)
}
.g_htc_focus {
	BEHAVIOR: url(/style/css/base/htc/htc.focus.input.htc); CURSOR: text
}
.focus {
	CURSOR: text; BACKGROUND-COLOR: #ffffe1
}
.g_htc_focus:unknown {
	CURSOR: text; BACKGROUND-COLOR: #ffffe1
}
.g_p_fill {
	MARGIN-BOTTOM: -32767px; PADDING-BOTTOM: 32767px
}
.g_p_hide {
	DISPLAY: inline-block; OVERFLOW: hidden
}
.g_p_left {
	FLOAT: left
}
.g_p_right {
	FLOAT: right
}
.g_p_center {
	MARGIN-LEFT: auto! important; MARGIN-RIGHT: auto! important
}
.g_p_clear {
	CLEAR: both; VISIBILITY: hidden; LINE-HEIGHT: 0px; HEIGHT: 0px
}
.g_p_block {
	DISPLAY: block
}
.g_p_inline {
	DISPLAY: inline
}
.g_p_none {
	DISPLAY: none
}
.g_p_absolute {
	POSITION: absolute
}
.g_p_relative {
	POSITION: relative
}
.g_p_left_top {
	LEFT: 0px; TOP: 0px
}
.g_p_left_btm {
	LEFT: 0px; BOTTOM: 0px
}
.g_p_rght_top {
	RIGHT: 0px; TOP: 0px
}
.g_p_rght_btm {
	RIGHT: 0px; BOTTOM: 0px
}
.g_p_hd_cnt {
	VISIBILITY: hidden
}
.g_p_visible {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; VISIBILITY: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 0px; PADDING-TOP: 0px; HEIGHT: 0px
}
.g_p_visible TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.g_p_visible TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.g_t_wrap {
	WORD-BREAK: break-all; WORD-WRAP: break-word
}
.g_t_hide {
	OVERFLOW: hidden; WORD-BREAK: break-all; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.g_t_left {
	TEXT-ALIGN: left
}
.g_t_right {
	TEXT-ALIGN: right
}
.g_t_center {
	TEXT-ALIGN: center
}
.g_t_top {
	VERTICAL-ALIGN: top
}
.g_t_middle {
	VERTICAL-ALIGN: middle
}
.g_t_bottom {
	VERTICAL-ALIGN: bottom
}
.g_t_bold {
	FONT-WEIGHT: 700
}
.g_t_italic {
	FONT-STYLE: italic
}
.g_t_space {
	FONT-SIZE: 1px
}
.g_t_pdleft {
	TEXT-INDENT: 5px
}
.g_t_sidt {
	TEXT-INDENT: 1em
}
.g_t_indent {
	TEXT-INDENT: 2em
}
#blog-163-com .g_t_large {
	FONT-SIZE: 150%; LINE-HEIGHT: 160%
}
#blog-163-com .g_t_large  {
	FONT-SIZE: 150%; LINE-HEIGHT: 160%
}
#blog-163-com .g_t_midle {
	FONT-SIZE: 130%; LINE-HEIGHT: 160%
}
#blog-163-com .g_t_midle  {
	FONT-SIZE: 130%; LINE-HEIGHT: 160%
}
.g_t_10 {
	FONT-SIZE: 10px
}
.g_t_14 {
	FONT-SIZE: 14px
}
.g_t_16 {
	FONT-SIZE: 16px
}
.g_t_18 {
	FONT-SIZE: 18px
}
.g_t_24 {
	FONT-SIZE: 24px
}
.g_t_disable {
	BEHAVIOR: url(/style/css/base/htc/htc.disable.input.htc); COLOR: #aca899; BACKGROUND-COLOR: #ece9d8
}
.g_t_input {
	COLOR: #000; BACKGROUND-COLOR: #ffffe1
}
.g_t_disable:unknown {
	COLOR: #000; BACKGROUND-COLOR: #ffffe1
}
#blog-163-com .g_c_clrbd {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#blog-163-com .g_c_clrft {
	FILTER: none
}
#blog-163-com .g_c_clrpd TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#blog-163-com .g_c_clrul:hover {
	TEXT-DECORATION: none
}
.g_c_spdin {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.g_c_pdin {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.g_c_hpdin {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.g_c_vpdin {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.g_c_vlpdin {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.g_c_mvdn {
	MARGIN-TOP: 5px
}
.g_c_smvdn {
	MARGIN-TOP: 3px
}
.g_c_mvup {
	MARGIN-BOTTOM: -2px
}
DIV.g_c_mvupt {
	MARGIN-TOP: -1px
}
.g_c_mgin {
	MARGIN: 5px
}
.g_c_hmgin {
	MARGIN: 0px 5px
}
.g_c_hlmgin {
	MARGIN: 0px 10px
}
.g_c_vmgin {
	MARGIN: 5px 0px
}
.g_c_vlmgin {
	MARGIN: 10px 0px
}
.g_c_mvlft {
	MARGIN-LEFT: 15px
}
.g_c_lmvlft {
	PADDING-LEFT: 30px
}
.g_c_vpage {
	WIDTH: 20px; HEIGHT: 150px
}
.g_c_center {
	DISPLAY: inline-block; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.g_c_button {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
A.g_c_button {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.g_c_button:hover {
	TEXT-DECORATION: none
}
.g_c_hand {
	CURSOR: hand
}
.g_c_button {
	CURSOR: hand
}
.g_c_move {
	CURSOR: move
}
.g_c_scrl {
	OVERFLOW: auto
}
.g_c_card {
	BACKGROUND-COLOR: #ffffff
}
.g_c_disable {
	
}
.g_c_enable {
	
}
.g_c_disable .e {
	DISPLAY: none
}
.g_c_disable .d {
	DISPLAY: inline
}
.g_c_enable .e {
	DISPLAY: inline
}
.g_c_enable .d {
	DISPLAY: none
}
.mdl_n_c .g_c_button {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.g_c_container {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 98%; PADDING-TOP: 5px
}
.g_c_clr {
	BACKGROUND-COLOR: #ffffe1
}
.g_f_init_select {
	BEHAVIOR: url(/style/css/base/htc/htc.selectinit.htc); moz-binding: url(/style/css/base/htc/bind.xml#htc.selectinit.htc)
}
.g_f_on_select {
	BEHAVIOR: url(/style/css/base/htc/htc.select.htc); moz-binding: url(/style/css/base/htc/bind.xml#htc.select.htc)
}
.g_f_select {
	BACKGROUND-COLOR: #ffff00
}
.g_f_hover {
	BEHAVIOR: url(/style/css/base/htc/htc.hover.htc)
}
.hover {
	BACKGROUND-COLOR: #ffff00
}
.g_f_hover:hover {
	BACKGROUND-COLOR: #ffff00
}
.g_f_shw {
	FILTER: progid:DXImageTransform.Microsoft.Shadow(Strength=5,Direction=135,Color=#aaaaaa)
}
.g_f_t50 {
	FILTER: alpha(opacity=50); opacity: 0.5; moz-opacity: 0.5
}
.g_f_disable {
	Z-INDEX: 999; FILTER: alpha(opacity=0); LEFT: 0px; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #999999; opacity: 0; moz-opacity: 0
}
.g_f_fade {
	FILTER: progid:DXImageTransform.Microsoft.Fade()
}
DIV.g_w_at {
	WIDTH: auto
}
UL.g_w_at {
	WIDTH: auto
}
.g_w_5 {
	WIDTH: 5%
}
.g_w_10 {
	WIDTH: 10%
}
.g_w_15 {
	WIDTH: 15%
}
.g_w_20 {
	WIDTH: 20%
}
.g_w_25 {
	WIDTH: 25%
}
.g_w_30 {
	WIDTH: 30%
}
.g_w_35 {
	WIDTH: 35%
}
.g_w_38 {
	WIDTH: 38%
}
.g_w_40 {
	WIDTH: 40%
}
.g_w_45 {
	WIDTH: 45%
}
.g_w_50 {
	WIDTH: 50%
}
.g_w_55 {
	WIDTH: 55%
}
.g_w_60 {
	WIDTH: 60%
}
.g_w_65 {
	WIDTH: 65%
}
.g_w_70 {
	WIDTH: 70%
}
.g_w_75 {
	WIDTH: 75%
}
.g_w_80 {
	WIDTH: 80%
}
.g_w_85 {
	WIDTH: 85%
}
.g_w_90 {
	WIDTH: 90%
}
.g_w_95 {
	WIDTH: 95%
}
.g_w_97 {
	MARGIN: auto; WIDTH: 97%
}
.g_w_100 {
	WIDTH: 100%
}
.g_h_1 {
	MIN-HEIGHT: 1px; HEIGHT: 1px
}
.g_h_14 {
	LINE-HEIGHT: 14px; HEIGHT: 14px
}
.g_h_15 {
	LINE-HEIGHT: 15px; HEIGHT: 15px
}
.g_h_18 {
	LINE-HEIGHT: 18px; HEIGHT: 18px
}
.g_h_25 {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.g_h_30 {
	LINE-HEIGHT: 30px; HEIGHT: 30px
}
.g_h_40 {
	HEIGHT: 40px
}
.g_h_85 {
	HEIGHT: 85px
}
.g_h_100 {
	HEIGHT: 100%
}
.g_h_105 {
	HEIGHT: 105px
}
.g_h_550 {
	MIN-HEIGHT: 550px; HEIGHT: 550px
}
.g_h_150m {
	OVERFLOW-Y: auto! important; OVERFLOW: hidden; ; HEIGHT: expression(this.scrollHeight>150?"150px":"auto"); max-height: 150px
}
.g_msg {
	WIDTH: 50px; CURSOR: pointer; TEXT-ALIGN: center
}
.g_msg_new SPAN {
	PADDING-LEFT: 20px; FONT-SIZE: 14px; BACKGROUND: url(img/rpt/1.gif) no-repeat center top
}
.g_msg_new DIV {
	LEFT: -115px; WIDTH: 140px; COLOR: #333; LINE-HEIGHT: 24px; POSITION: absolute; TOP: -24px; HEIGHT: 24px; TEXT-ALIGN: center
}
.g_btn_big {
	DISPLAY: block; FONT-WEIGHT: 700; FONT-SIZE: 14px; MARGIN: 10px auto; WIDTH: 110px; CURSOR: pointer; LINE-HEIGHT: 22px; HEIGHT: 30px
}
.g_func_lst {
	
}
.g_func_lst .item {
	CURSOR: pointer; LINE-HEIGHT: 20px; HEIGHT: 20px; TEXT-ALIGN: left
}
.g_func_lst .ecp A {
	DISPLAY: block
}
.g_enable {
	DISPLAY: inline
}
.g_dsable {
	DISPLAY: none
}
.g_disable .g_enable {
	DISPLAY: none
}
.g_disable .g_dsable {
	DISPLAY: inline
}
.g_blog_prvlist {
	
}
.g_blog_prvlist .item {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.g_blog_prvlist .item .titlebar {
	CURSOR: pointer; LINE-HEIGHT: 20px; POSITION: relative; HEIGHT: 20px; TEXT-ALIGN: left
}
.g_blog_prvlist .item .titlebar .title {
	PADDING-LEFT: 5px; FONT-WEIGHT: 700; FONT-SIZE: 14px; WIDTH: 90%
}
.g_blog_prvlist .item .titlebar SPAN.n_ {
	RIGHT: 0px; POSITION: absolute; TOP: 0px
}
.g_blog_prvlist .item .titlebar SPAN.n2 {
	DISPLAY: none
}
.g_blog_prvlist .item .toggle SPAN.n2 {
	DISPLAY: inline
}
.g_blog_prvlist .item .toggle SPAN.n3 {
	DISPLAY: none
}
.g_blog_prvlist .item .content {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 14px; OVERFLOW-X: hidden; PADDING-BOTTOM: 5px; MARGIN: 10px auto; WIDTH: 95%; LINE-HEIGHT: 160%; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.g_blog_prvlist .item .content  {
	LINE-HEIGHT: 160%
}
.g_blog_prvlist .item .content UL {
	MARGIN: 5px 0px 5px 40px
}
.g_blog_prvlist .item .content OL {
	MARGIN: 5px 0px 5px 40px
}
.g_blog_prvlist .item .content P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 15px; PADDING-TOP: 0px
}
.g_blog_prvlist .item .content DIV {
	MARGIN: 10px
}
.g_blog_prvlist .item .content EM {
	FONT-STYLE: italic
}
.g_blog_prvlist .item .content BLOCKQUOTE {
	FONT-SIZE: 1em; MARGIN: auto 35px
}
.g_blog_prvlist .item .content A {
	FONT-SIZE: 1em; TEXT-DECORATION: none
}
.g_blog_prvlist .item .content A:hover {
	FONT-SIZE: 1em; TEXT-DECORATION: none
}
.g_blog_prvlist .item .content TD {
	BORDER-TOP-STYLE: solid; BORDER-RIGHT-STYLE: solid; BORDER-LEFT-STYLE: solid; BORDER-BOTTOM-STYLE: solid
}
.g_blog_prvlist .item .content TABLE {
	TABLE-LAYOUT: auto
}
.g_menu_hp {
	TEXT-ALIGN: right
}
.g_menu_hp SPAN {
	MARGIN-RIGHT: 2px
}
.g_menu_hm {
	TEXT-ALIGN: left
}
.g_menu_hm SPAN {
	MARGIN-RIGHT: 2px
}
.g_menu_hm SPAN.ck0 {
	DISPLAY: none
}
.g_menu_hm SPAN.ck1 {
	DISPLAY: inline
}
.g_menu_hm .selected SPAN.ck0 {
	DISPLAY: inline
}
.g_menu_hm .selected SPAN.ck1 {
	DISPLAY: none
}
.g_menu_lk {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.g_menu_lk SPAN.s {
	MARGIN: 0px 1px
}
.g_menu_lk A.t:hover {
	TEXT-DECORATION: none
}
.g_menu_nv {
	
}
.g_menu_nv .item {
	FLOAT: left; WIDTH: 63px
}
.g_menu_nv .item A {
	DISPLAY: block; WIDTH: 63px
}
.g_menu_nv .item A:hover {
	TEXT-DECORATION: none
}
.g_menu_bt {
	MARGIN-BOTTOM: 15px; TEXT-ALIGN: center
}
.g_menu_bt SPAN {
	MARGIN: 0px 5px
}
.g_menu_bt A.p_:hover {
	TEXT-DECORATION: none
}
.g_menu_12 {
	MARGIN: 2px auto 0px 10px; TEXT-ALIGN: left
}
.g_menu_12 P SPAN {
	FLOAT: right
}
.g_menu_12 EM {
	MARGIN-RIGHT: 10px
}
.g_menu_12 DIV.b {
	MARGIN: 2px 0px 0px 6px
}
.g_menu_12 DIV.c {
	MARGIN: 2px 0px 0px 12px
}
.g_menu_12 DIV.ct {
	MARGIN: 5px 0px 0px 15px
}
.g_menu_12 DIV.i {
	MARGIN-LEFT: 12px; CURSOR: default
}
.g_menu_12 DIV.s {
	MARGIN-LEFT: 12px; CURSOR: default
}
.g_menu_12 DIV.i P {
	FLOAT: left; WIDTH: 100%
}
.g_menu_12 DIV.i SPAN.d {
	DISPLAY: none; FLOAT: right
}
.g_menu_12 DIV.i:hover P {
	WIDTH: 60%
}
.g_menu_12 DIV.i:hover SPAN.d {
	DISPLAY: inline
}
.g_menu_12 DIV.hvr P {
	WIDTH: 60%
}
.g_menu_12 DIV.hvr SPAN.d {
	DISPLAY: inline
}
.g_menu_03 {
	DISPLAY: block
}
.g_menu_05 {
	DISPLAY: block
}
.g_menu_08 {
	DISPLAY: block
}
.g_menu_09 {
	DISPLAY: block
}
.g_menu_11 {
	DISPLAY: block
}
.g_menu_03 LI {
	FLOAT: left; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.g_menu_05 LI {
	FLOAT: left; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.g_menu_08 LI {
	FLOAT: left; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.g_menu_09 LI {
	FLOAT: left; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.g_menu_11 LI {
	FLOAT: left; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
.g_menu_03 LI A {
	DISPLAY: block; FLOAT: left; TEXT-ALIGN: left
}
.g_menu_05 LI A {
	DISPLAY: block; FLOAT: left; TEXT-ALIGN: left
}
.g_menu_08 LI A {
	DISPLAY: block; FLOAT: left; TEXT-ALIGN: left
}
.g_menu_09 LI A {
	DISPLAY: block; FLOAT: left; TEXT-ALIGN: left
}
.g_menu_11 LI A {
	DISPLAY: block; FLOAT: left; TEXT-ALIGN: left
}
.g_menu_05 {
	
}
.g_menu_08 {
	
}
.g_menu_05 A {
	DISPLAY: block; WIDTH: 85%; TEXT-ALIGN: left
}
.g_menu_08 LI {
	MARGIN: 0px 2px
}
.g_menu_05 LI {
	FLOAT: none; TEXT-ALIGN: left
}
.g_menu_03 {
	WIDTH: 120px
}
.g_menu_03 LI {
	MARGIN: 0px 3px
}
.g_menu_06 {
	MARGIN: 2px auto 0px 22px; TEXT-ALIGN: left
}
.g_menu_06 P {
	WIDTH: 100%
}
.g_menu_06 P.in {
	TEXT-INDENT: 1em
}
.g_menu_06 EM {
	MARGIN-RIGHT: 8px
}
.g_menu_07 {
	PADDING-LEFT: 23px; TEXT-ALIGN: left
}
.g_menu_07 P {
	WIDTH: 100%
}
.g_menu_09 {
	
}
.g_menu_09 LI {
	FLOAT: right; MARGIN: 0px 3px
}
.g_menu_09_n {
	
}
.g_menu_09_n DIV {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.g_menu_10 {
	MARGIN: 0px auto
}
.g_menu_10 LI {
	
}
.g_menu_11 {
	MARGIN: 5px 0px 5px 30px
}
.g_menu_11 LI {
	CLEAR: both; WIDTH: 98%; PADDING-TOP: 1px; LIST-STYLE-TYPE: disc
}
.g_menu_11 DIV {
	FLOAT: left; WIDTH: 90px; TEXT-ALIGN: left
}
.g_menu_11 SPAN {
	DISPLAY: block; FLOAT: right; CURSOR: hand; MARGIN-RIGHT: 2px
}
.g_menu_d0 {
	FLOAT: left; MARGIN-LEFT: 5px
}
.g_menu_d0 A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; PADDING-TOP: 0px
}
.g_menu_d0 .s {
	BORDER-RIGHT: #996600 1px solid; BORDER-TOP: #996600 1px solid; BORDER-LEFT: #996600 1px solid; BORDER-BOTTOM: #996600 1px solid
}
.g_menu_d0 A:hover {
	TEXT-DECORATION: none
}
.g_menu_d1 {
	FLOAT: left; MARGIN-BOTTOM: -1px; MARGIN-LEFT: 5px
}
UNKNOWN {
	MARGIN-TOP: -1px
}
.g_menu_11 A {
	DISPLAY: inline; FLOAT: none
}
.g_menu_11 LI {
	FLOAT: none; TEXT-ALIGN: left
}
.g_menu_05 LI {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.g_menu_08 LI {
	LINE-HEIGHT: 20px; HEIGHT: 20px
}
.g_menu_08 A:hover {
	TEXT-DECORATION: none
}
.g_h_20 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; HEIGHT: 20px
}
.g_menu_08 A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; HEIGHT: 20px
}
.g_menu_10 A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px; HEIGHT: 20px
}
.g_img_00 {
	WIDTH: 140px; HEIGHT: 140px
}
.g_img_02 {
	WIDTH: 75px; HEIGHT: 75px
}
.g_img_04 {
	WIDTH: 60px; HEIGHT: 60px
}
.g_img_05 {
	WIDTH: 95px; HEIGHT: 75px
}
.g_img_06 {
	WIDTH: 64px; HEIGHT: 64px
}
.g_img_07 {
	WIDTH: 50px; HEIGHT: 50px
}
.g_img_08 {
	WIDTH: 40px; HEIGHT: 40px
}
.g_img_09 {
	WIDTH: 20px; HEIGHT: 20px
}
.g_img_10 {
	WIDTH: 35px; HEIGHT: 35px
}
.g_img_12 {
	WIDTH: 250px; HEIGHT: 250px
}
.g_img_13 {
	WIDTH: 42px; HEIGHT: 42px
}
.g_img_14 {
	WIDTH: 38px; HEIGHT: 38px
}
.g_img_15 {
	WIDTH: 80px; HEIGHT: 80px
}
.g_img_01 {
	WIDTH: 110px; HEIGHT: 160px; TEXT-ALIGN: center
}
.g_img_01 DIV {
	MARGIN: 0px auto; TEXT-ALIGN: center
}
.g_img_01 IMG {
	WIDTH: 70px; HEIGHT: 70px
}
.g_img_01 DIV.g_t_hide {
	WIDTH: 100px
}
.g_img_01 A SPAN {
	DISPLAY: none
}
.g_img_01 A:hover {
	FONT-SIZE: 100%; TEXT-DECORATION: none
}
.g_img_01 A:hover SPAN {
	DISPLAY: inline; RIGHT: 10px; BOTTOM: 10px; POSITION: absolute
}
.g_img_03 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 230px; PADDING-TOP: 5px
}
.g_img_03 .g_img_03_v {
	WIDTH: 220px; HEIGHT: 250px
}
UNKNOWN {
	max-width: 220px
}
.g_img_03_v {
	MARGIN: auto; VERTICAL-ALIGN: middle; OVERFLOW: hidden; POSITION: relative; TEXT-ALIGN: center
}
.g_img_03_v P {
	POSITION: absolute; TOP: 50%; TEXT-ALIGN: center
}
.g_img_03_v IMG {
	LEFT: -50%; POSITION: relative; TOP: -50%
}
.g_img_03_v P:unknown {
	FONT-SIZE: 1px; VISIBILITY: hidden; content: "."
}
.g_img_11 {
	FLOAT: left; WIDTH: 90px; PADDING-TOP: 5px; POSITION: relative; HEIGHT: 85px; TEXT-ALIGN: center
}
.g_img_11 A SPAN {
	DISPLAY: none
}
.g_img_11 A:hover {
	FONT-SIZE: 100%; TEXT-DECORATION: none
}
.g_img_11 A:hover SPAN {
	DISPLAY: inline; RIGHT: 6px; BOTTOM: 10px; POSITION: absolute
}
.g_img_pst {
	MARGIN-TOP: 8px; MARGIN-LEFT: 8px
}
.g_list_0 {
	
}
.g_list_0 A {
	DISPLAY: block; FLOAT: left; MARGIN: 5px
}
.g_list_00 {
	MARGIN-TOP: 8px
}
.g_list_00 EM {
	COLOR: #ff0000
}
.g_list_00 TEXTAREA {
	HEIGHT: 100px
}
.g_list_00 INPUT.n0 {
	WIDTH: 240px
}
.g_list_00 INPUT.n1 {
	WIDTH: 138px
}
.g_list_00 SELECT.s {
	WIDTH: 141px
}
.g_list_01 {
	
}
.g_list_01 DIV.up {
	FLOAT: left; WIDTH: 20px; HEIGHT: 100px
}
.g_list_01 DIV.dn {
	FLOAT: right; WIDTH: 20px; HEIGHT: 100px
}
.g_list_01 DIV.cn {
	MARGIN: 5px 20px
}
.g_list_01 DIV.i {
	PADDING-RIGHT: 5px; FLOAT: left; MARGIN-LEFT: 10px; WIDTH: 200px
}
.g_list_01 DIV.i DIV.l {
	FLOAT: left; WIDTH: 95px; TEXT-ALIGN: center
}
.g_list_01 DIV.i DIV.l IMG {
	MARGIN-TOP: 8px; MARGIN-LEFT: -4px
}
.g_list_01 DIV.i DIV.r {
	FLOAT: right; WIDTH: 105px; TEXT-ALIGN: left
}
.g_list_01 DIV.i DIV.r P {
	WIDTH: 105px; LINE-HEIGHT: 18px; HEIGHT: 18px
}
.g_list_02 {
	
}
.g_list_02 TD {
	VERTICAL-ALIGN: top; WIDTH: 25%; TEXT-ALIGN: center
}
.g_list_02 TD DIV {
	FONT-SIZE: 1px; WIDTH: 90%; CURSOR: hand; HEIGHT: 40px
}
.g_list_02 TD P {
	CURSOR: default; LINE-HEIGHT: 22px; HEIGHT: 22px
}
.g_list_02 TD DIV.s_e {
	BORDER-RIGHT: #227de3 3px solid; BORDER-TOP: #227de3 3px solid; BORDER-LEFT: #227de3 3px solid; BORDER-BOTTOM: #227de3 3px solid
}
.g_list_w_12 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 12px; PADDING-TOP: 2px
}
.g_list_w_50 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 50px; PADDING-TOP: 2px; TEXT-ALIGN: left
}
.g_list_w_55 {
	WIDTH: 55px; TEXT-ALIGN: right
}
.g_list_w_60 {
	WIDTH: 60px
}
.g_list_w_70 {
	WIDTH: 70px
}
.g_list_w_80 {
	WIDTH: 80px; TEXT-ALIGN: left
}
.g_list_ftb00 {
	
}
.g_list_ftb00 .cd {
	DISPLAY: none
}
.g_list_ftb00 .cw {
	WIDTH: 35%
}
.g_title_00 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-TOP: 2px; HEIGHT: 20px
}
.g_title_00 SPAN {
	DISPLAY: block; FLOAT: left
}
.g_title_00 DIV {
	FLOAT: right; TEXT-ALIGN: right
}
.g_title_00 SPAN A {
	FONT-WEIGHT: normal
}
.g_title_02 {
	FONT-WEIGHT: 700; TEXT-ALIGN: center
}
.g_title_02 A {
	MARGIN: 3px
}
.g_tab_btn {
	MARGIN-BOTTOM: -21px; PADDING-BOTTOM: 21px; BORDER-BOTTOM: #ffffff 1px solid
}
.g_tab_btn DIV {
	FLOAT: left; MARGIN-BOTTOM: -1px; OVERFLOW: hidden; MARGIN-RIGHT: 2px; HEIGHT: 20px
}
.g_tab_btn DIV.selected {
	BORDER-BOTTOM: #000000 1px solid
}
.g_tab_btn DIV A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.g_tab_btn DIV A:hover {
	TEXT-DECORATION: none
}
.g_tab_btn DIV SPAN {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.g_tab_btn00 {
	
}
.g_tab_btn00 DIV {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FLOAT: right; MARGIN-BOTTOM: -2px; PADDING-BOTTOM: 0px; MARGIN-LEFT: -1px; LINE-HEIGHT: 15px; PADDING-TOP: 0px; POSITION: relative; HEIGHT: 15px
}
.g_tab_btn00 DIV.e {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.g_tab_btn00 DIV.s {
	PADDING-BOTTOM: 3px
}
.g_tab_btn00 DIV.s SPAN.g_p_none {
	DISPLAY: inline
}
.g_tab_btn01 {
	LINE-HEIGHT: 25px; HEIGHT: 25px
}
.g_tab_btn01 DIV {
	FLOAT: left; WIDTH: 80px; TEXT-ALIGN: center
}
.g_tab_cnt01 {
	
}
.g_tab_cnt01 DIV.c {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; MIN-HEIGHT: 1%; PADDING-BOTTOM: 13px; PADDING-TOP: 15px; HEIGHT: 1%
}
.g_tab_cnt01 DIV.z_ {
	FONT-SIZE: 1px; FLOAT: left; MARGIN: 8px; CURSOR: hand
}
.g_tab_cnt01 DIV.s_e {
	BORDER-RIGHT: #227de3 3px solid; BORDER-TOP: #227de3 3px solid; MARGIN-TOP: 4px; BORDER-LEFT: #227de3 3px solid; BORDER-BOTTOM: #227de3 3px solid
}
.g_tab_btn02 {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 22px
}
.g_tab_btn02 DIV {
	FLOAT: left; WIDTH: 60px; CURSOR: hand; TEXT-ALIGN: center
}
.g_tab_btn02 DIV.s {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px; FONT-WEIGHT: 700; MARGIN-BOTTOM: -1px; BORDER-LEFT: #999999 1px solid; COLOR: #3366ff; BORDER-BOTTOM: #ffffff 1px solid; POSITION: relative
}
.g_tab_cnt {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px; MARGIN-TOP: 20px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid
}
.g_layout_00 {
	
}
.g_layout_00 TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.g_layout_00 TD.g_t_left {
	HEIGHT: 80px
}
.g_layout_00 TD.g_t_center {
	HEIGHT: 140px
}
.g_layout_01_0 {
	FLOAT: right; WIDTH: 120px
}
.g_layout_01_1 {
	MARGIN-RIGHT: 120px
}
.g_layout_02_0 {
	WIDTH: 250px
}
.g_layout_02_1 {
	MARGIN-LEFT: 270px
}
.g_layout_03_0 {
	FLOAT: right; WIDTH: 200px
}
.g_layout_03_1 {
	MARGIN-RIGHT: 200px
}
.g_layout_04_0 {
	VERTICAL-ALIGN: top; WIDTH: 86px; TEXT-ALIGN: center
}
.g_layout_04_0 .i_ {
	WIDTH: 66px
}
.g_layout_04_1 {
	TEXT-ALIGN: left
}
.g_layout_04_1 .c {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; MIN-HEIGHT: 73px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px; HEIGHT: 73px
}
.g_layout_04_1 .c  {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 160%; PADDING-TOP: 0px
}
.g_layout_04_1 .c DIV {
	MARGIN: 10px
}
.g_layout_04_1 .c UL {
	MARGIN: 5px 0px 5px 40px
}
.g_layout_04_1 .c P {
	MARGIN: 0px 0px 10px
}
.g_layout_04_1 .c P {
	MARGIN: 0px 0px 10px
}
.g_layout_04_1 .c EM {
	FONT-STYLE: italic
}
.g_layout_05 {
	MARGIN-TOP: 5px
}
.g_layout_05 DIV.l {
	FLOAT: left; WIDTH: 70px
}
.g_layout_05 DIV.r {
	MARGIN: auto 0px auto 75px
}
.g_layout_05 .vb {
	MARGIN-TOP: 42px; WIDTH: 170px
}
.g_layout_05 DIV.nl {
	MARGIN: auto 82px auto 0px; TEXT-ALIGN: left
}
.g_layout_05 DIV.nr {
	FLOAT: right; WIDTH: 80px
}
.g_layout_05 INPUT.nvb {
	WIDTH: 98%
}

@media Unknown    
{
.g_p_fill {
	MARGIN-BOTTOM: 0px! important; PADDING-BOTTOM: 0px! important
}
.g_p_fill:unknown {
	DISPLAY: block; MARGIN-BOTTOM: -32767px! important; PADDING-TOP: 32767px! important; HEIGHT: 0px; content: .
}
    }
UNKNOWN {
	MARGIN-TOP: 15px
}
UNKNOWN {
	OVERFLOW: hidden
}
UNKNOWN {
	MARGIN-TOP: 5px
}
UNKNOWN {
	MARGIN-BOTTOM: 0px! important
}
UNKNOWN {
	PADDING-BOTTOM: 0px! important; PADDING-TOP: 0px! important
}
UNKNOWN {
	PADDING-TOP: 2px
}
UNKNOWN {
	LINE-HEIGHT: 17px
}
