.i_ {
	PADDING-LEFT: 22px; BACKGROUND: url(img/i.gif) no-repeat
}
.i_d {
	PADDING-LEFT: 22px; BACKGROUND: url(img/rpt/1.gif) no-repeat
}
.i0 {
	BACKGROUND-POSITION: 0px 0px
}
.i1 {
	BACKGROUND-POSITION: 0px -20px
}
.i2 {
	BACKGROUND-POSITION: 0px -42px
}
.i3 {
	BACKGROUND-POSITION: 0px -60px
}
.i4 {
	BACKGROUND-POSITION: 0px -80px
}
.i5 {
	BACKGROUND-POSITION: 0px -103px; PADDING-LEFT: 18px
}
.i6 {
	BACKGROUND-POSITION: 0px -124px
}
.i7 {
	BACKGROUND-POSITION: 0px -140px
}
.i8 {
	BACKGROUND-POSITION: 0px -160px
}
.i9 {
	BACKGROUND-POSITION: 0px -182px; PADDING-LEFT: 17px
}
.i10 {
	BACKGROUND-POSITION: -3px -203px; PADDING-LEFT: 13px
}
.i11 {
	BACKGROUND-POSITION: 0px -220px
}
.i12 {
	BACKGROUND-POSITION: 0px -240px
}
.i13 {
	BACKGROUND-POSITION: 0px -260px
}
.i14 {
	BACKGROUND-POSITION: 0px -282px; PADDING-LEFT: 18px
}
.i15 {
	BACKGROUND-POSITION: 0px -300px
}
.i16 {
	BACKGROUND-POSITION: 0px -320px
}
.i17 {
	BACKGROUND-POSITION: 0px -340px
}
.i18 {
	BACKGROUND-POSITION: 0px -360px
}
.i19 {
	BACKGROUND-POSITION: 0px -380px
}
.i20 {
	BACKGROUND-POSITION: 0px -404px; PADDING-LEFT: 17px
}
.i20_1 {
	BACKGROUND-POSITION: -3px -407px; PADDING-LEFT: 7px
}
.i21 {
	BACKGROUND-POSITION: 0px -420px
}
.i22 {
	BACKGROUND-POSITION: 0px -440px
}
.i23 {
	BACKGROUND-POSITION: 0px -460px
}
.i24 {
	BACKGROUND-POSITION: 0px -480px
}
.i25 {
	BACKGROUND-POSITION: 0px -503px; PADDING-LEFT: 20px
}
.i25c {
	BACKGROUND-POSITION: 0px -500px
}
.i26 {
	BACKGROUND-POSITION: 0px -520px
}
.i27 {
	BACKGROUND-POSITION: 0px -540px
}
.i28 {
	BACKGROUND-POSITION: 0px -562px; PADDING-LEFT: 15px
}
.i29 {
	BACKGROUND-POSITION: 0px -580px; PADDING-LEFT: 18px
}
.i29c {
	BACKGROUND-POSITION: 0px -581px; PADDING-LEFT: 15px
}
.i30 {
	BACKGROUND-POSITION: 0px -600px
}
.i31 {
	BACKGROUND-POSITION: 1px -620px; PADDING-LEFT: 17px
}
.i32 {
	BACKGROUND-POSITION: 0px -640px
}
.i33 {
	BACKGROUND-POSITION: 0px -660px
}
.i34 {
	BACKGROUND-POSITION: 0px -680px
}
.i35 {
	BACKGROUND-POSITION: 0px -701px; PADDING-LEFT: 20px; PADDING-TOP: 2px
}
.i35c {
	BACKGROUND-POSITION: 0px -700px
}
.i36 {
	BACKGROUND-POSITION: 0px -720px
}
.i37 {
	BACKGROUND-POSITION: 0px -741px
}
.i38 {
	BACKGROUND-POSITION: 0px -760px
}
.i39 {
	BACKGROUND-POSITION: 0px -780px
}
.i40 {
	BACKGROUND-POSITION: 0px -800px
}
.i41 {
	BACKGROUND-POSITION: 0px -820px
}
.i42 {
	BACKGROUND-POSITION: 0px -842px; PADDING-LEFT: 17px
}
.i43 {
	BACKGROUND-POSITION: 0px -861px; PADDING-LEFT: 17px
}
.i44 {
	BACKGROUND-POSITION: 0px -880px
}
.i45 {
	BACKGROUND-POSITION: 0px -904px; PADDING-LEFT: 20px
}
.i46 {
	BACKGROUND-POSITION: 0px -920px; PADDING-LEFT: 18px
}
.i46c {
	BACKGROUND-POSITION: 0px -922px; PADDING-LEFT: 15px
}
.i47 {
	BACKGROUND-POSITION: 0px -942px; PADDING-LEFT: 20px
}
.i48 {
	BACKGROUND-POSITION: 0px -960px
}
.i49 {
	BACKGROUND-POSITION: 0px -980px
}
.i50 {
	BACKGROUND-POSITION: 0px -1000px
}
.i51 {
	BACKGROUND-POSITION: 0px -1020px
}
.i52 {
	BACKGROUND-POSITION: 0px -1040px
}
.i53 {
	BACKGROUND-POSITION: 0px -1060px
}
.i54 {
	BACKGROUND-POSITION: -2px -1083px; PADDING-LEFT: 15px
}
.i55 {
	BACKGROUND-POSITION: 0px -1100px
}
.i56 {
	BACKGROUND-POSITION: 0px -1122px; PADDING-LEFT: 17px
}
.i57 {
	BACKGROUND-POSITION: 0px -1140px
}
.i58 {
	BACKGROUND-POSITION: 0px -1160px; PADDING-LEFT: 0px; WIDTH: 22px
}
.i59 {
	BACKGROUND-POSITION: 0px -1182px
}
.i60 {
	BACKGROUND-POSITION: 0px -1204px; PADDING-LEFT: 20px
}
.i61 {
	BACKGROUND-POSITION: 0px -1221px
}
.i62 {
	BACKGROUND-POSITION: 0px -1240px
}
.i63 {
	BACKGROUND-POSITION: 0px -1261px; PADDING-LEFT: 17px
}
.i64 {
	BACKGROUND-POSITION: 0px -1280px
}
.i65 {
	BACKGROUND-POSITION: 0px -1302px; PADDING-LEFT: 17px
}
.i66 {
	BACKGROUND-POSITION: 0px -1323px; PADDING-LEFT: 17px
}
.i67 {
	BACKGROUND-POSITION: 0px -1340px
}
.i68 {
	BACKGROUND-POSITION: 0px -1362px; PADDING-LEFT: 17px
}
.i69 {
	BACKGROUND-POSITION: 0px -1380px; PADDING-TOP: 3px
}
.i70 {
	BACKGROUND-POSITION: 0px -1402px; PADDING-LEFT: 17px
}
.i71 {
	BACKGROUND-POSITION: 0px -1420px
}
.i72 {
	BACKGROUND-POSITION: 0px -1440px
}
.i73 {
	BACKGROUND-POSITION: 0px -1460px
}
.i74 {
	BACKGROUND-POSITION: -2px -1482px; PADDING-LEFT: 15px; PADDING-TOP: 3px
}
.i75 {
	BACKGROUND-POSITION: 0px -1500px
}
.i76 {
	BACKGROUND-POSITION: 0px -1520px
}
.i77 {
	BACKGROUND-POSITION: 0px -1541px
}
.i78 {
	BACKGROUND-POSITION: 0px -1560px
}
.i79 {
	BACKGROUND-POSITION: 0px -1580px
}
.i80 {
	BACKGROUND-POSITION: 0px -1600px
}
.i81 {
	BACKGROUND-POSITION: 0px -1620px
}
.i82 {
	BACKGROUND-POSITION: 0px -1640px
}
.i83 {
	BACKGROUND-POSITION: 0px -1664px; PADDING-LEFT: 20px
}
.i83c {
	BACKGROUND-POSITION: 0px -1661px; PADDING-LEFT: 20px
}
.i84 {
	BACKGROUND-POSITION: 0px -1685px
}
.i85 {
	BACKGROUND-POSITION: 0px -1700px
}
.i86 {
	BACKGROUND-POSITION: 0px -1723px; PADDING-LEFT: 17px
}
.i87 {
	BACKGROUND-POSITION: 0px -1744px; PADDING-LEFT: 20px
}
.i88 {
	BACKGROUND-POSITION: 0px -1761px
}
.i89 {
	BACKGROUND-POSITION: 0px -1782px; PADDING-LEFT: 17px
}
.i90 {
	BACKGROUND-POSITION: 0px -1800px
}
.i91 {
	BACKGROUND-POSITION: 0px -1824px; PADDING-LEFT: 18px
}
.i92 {
	BACKGROUND-POSITION: 0px -1840px
}
.i93 {
	BACKGROUND-POSITION: 0px -1862px
}
.i94 {
	BACKGROUND-POSITION: 0px -1881px
}
.i95 {
	BACKGROUND-POSITION: 0px -1901px
}
.i96 {
	BACKGROUND-POSITION: 0px -1920px
}
.i97 {
	BACKGROUND-POSITION: 0px -1942px
}
.i98 {
	BACKGROUND-POSITION: 0px -1962px
}
.i99 {
	BACKGROUND-POSITION: 0px -1980px
}
.i100 {
	BACKGROUND-POSITION: 0px -2002px
}
.i101 {
	BACKGROUND-POSITION: 0px -2020px
}
.i102 {
	BACKGROUND-POSITION: 0px -2042px
}
.i103 {
	BACKGROUND-POSITION: 0px -2060px
}
.i104 {
	BACKGROUND-POSITION: 0px -2083px; PADDING-LEFT: 15px
}
.i105 {
	BACKGROUND-POSITION: 0px -2100px
}
.i106 {
	BACKGROUND-POSITION: 0px -2120px
}
.i107 {
	BACKGROUND-POSITION: 0px -2143px
}
.i108 {
	BACKGROUND-POSITION: 0px -2160px
}
.i109 {
	BACKGROUND-POSITION: 0px -2183px
}
.i110 {
	BACKGROUND-POSITION: 0px -2200px
}
.i111 {
	BACKGROUND-POSITION: 0px -2220px
}
.i112 {
	BACKGROUND-POSITION: 0px -2244px
}
.i113 {
	BACKGROUND-POSITION: 0px -2260px
}
.i114 {
	BACKGROUND-POSITION: -2px -2284px; PADDING-LEFT: 14px
}
.i115 {
	BACKGROUND-POSITION: 0px -2300px
}
.i116 {
	BACKGROUND-POSITION: 0px -2320px
}
.i116c {
	BACKGROUND-POSITION: 0px -2320px
}
.i117 {
	BACKGROUND-POSITION: 0px -2341px; PADDING-TOP: 3px
}
.i118 {
	BACKGROUND-POSITION: 0px -2364px; PADDING-LEFT: 15px
}
.i119 {
	BACKGROUND-POSITION: 0px -2380px
}
.i120 {
	BACKGROUND-POSITION: -4px -2424px; PADDING-LEFT: 10px
}
.i121 {
	BACKGROUND-POSITION: 0px -2439px
}
.i122 {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 1px -2459px; PADDING-LEFT: 18px; PADDING-BOTTOM: 2px; PADDING-TOP: 0px
}
.i123 {
	BACKGROUND-POSITION: 1px -2480px; PADDING-LEFT: 15px
}
.i124 {
	BACKGROUND-POSITION: 0px -2503px; PADDING-LEFT: 18px
}
.i125 {
	BACKGROUND-POSITION: 0px -2519px; PADDING-LEFT: 18px
}
.i126 {
	PADDING-RIGHT: 18px; BACKGROUND-POSITION: right -2539px; PADDING-LEFT: 0px
}
.i127 {
	BACKGROUND-POSITION: 0px -2563px; PADDING-LEFT: 15px
}
.i128 {
	BACKGROUND-POSITION: 0px -2580px; PADDING-LEFT: 15px
}
.i129 {
	BACKGROUND-POSITION: 0px -2595px
}
.i130 {
	BACKGROUND-POSITION: 0px -2615px
}
.i131 {
	BACKGROUND-POSITION: 0px -2635px
}
.i132 {
	BACKGROUND-POSITION: 0px -2655px
}
.i133 {
	BACKGROUND-POSITION: 0px -2678px; PADDING-LEFT: 13px
}
.i134 {
	BACKGROUND-POSITION: 0px -2696px; PADDING-LEFT: 13px
}
.i135 {
	BACKGROUND-POSITION: 0px -2712px; PADDING-LEFT: 13px
}
.i136 {
	BACKGROUND-POSITION: 0px -2728px; PADDING-LEFT: 13px
}
.i137 {
	BACKGROUND-POSITION: 0px -2745px; PADDING-LEFT: 13px
}
.i138 {
	BACKGROUND-POSITION: -1px -2761px; PADDING-TOP: 3px
}
.i139 {
	BACKGROUND-POSITION: 0px -2783px; PADDING-LEFT: 13px
}
.i140 {
	BACKGROUND-POSITION: 0px -2801px; PADDING-TOP: 3px
}
.i141 {
	BACKGROUND-POSITION: 0px -2821px; PADDING-LEFT: 15px; PADDING-TOP: 3px
}
.i142 {
	BACKGROUND-POSITION: 0px -2840px
}
.i143 {
	BACKGROUND-POSITION: 0px -2860px
}
.i144 {
	BACKGROUND-POSITION: 0px -2880px
}
.i145 {
	BACKGROUND-POSITION: 0px -2901px; PADDING-LEFT: 15px
}
.i146 {
	BACKGROUND-POSITION: 0px -2922px
}
.i147 {
	BACKGROUND-POSITION: 0px -2944px
}
.i148 {
	BACKGROUND-POSITION: 0px -2963px
}
.i149 {
	BACKGROUND-POSITION: 0px -2981px; PADDING-LEFT: 18px
}
.i150 {
	BACKGROUND-POSITION: 0px -3001px; PADDING-LEFT: 18px
}
.i151 {
	BACKGROUND-POSITION: 0px -3019px; PADDING-LEFT: 18px
}
.i152 {
	BACKGROUND-POSITION: 0px -3039px
}
.i153 {
	BACKGROUND-POSITION: 0px -3059px
}
.i154 {
	BACKGROUND-POSITION: 0px -3081px; PADDING-LEFT: 18px
}
.i155 {
	BACKGROUND-POSITION: 0px -3095px
}
.i156 {
	BACKGROUND-POSITION: 0px -3117px
}
.i157 {
	BACKGROUND-POSITION: 0px -3139px
}
.i158 {
	BACKGROUND-POSITION: 0px -3161px; PADDING-LEFT: 18px
}
.i159 {
	BACKGROUND-POSITION: 0px -3179px; PADDING-LEFT: 18px
}
.i160 {
	BACKGROUND-POSITION: 0px -3198px; PADDING-LEFT: 18px
}
.i161 {
	BACKGROUND-POSITION: 0px -3215px; PADDING-LEFT: 18px
}
.i162 {
	BACKGROUND-POSITION: 0px -3231px; PADDING-LEFT: 18px
}
.i163 {
	BACKGROUND-POSITION: 0px -3249px; PADDING-LEFT: 18px
}
.i164 {
	BACKGROUND-POSITION: 0px -3265px; PADDING-LEFT: 18px
}
.i165 {
	BACKGROUND-POSITION: 0px -3283px; PADDING-LEFT: 18px
}
.i166 {
	BACKGROUND-POSITION: 0px -3301px; PADDING-LEFT: 18px
}
.i167 {
	BACKGROUND-POSITION: 0px -3315px; PADDING-LEFT: 18px
}
.i168 {
	BACKGROUND-POSITION: 0px -3332px; PADDING-LEFT: 18px
}
.i169 {
	BACKGROUND-POSITION: 0px -3350px; PADDING-LEFT: 18px
}
.i170 {
	BACKGROUND-POSITION: 1px -3366px; PADDING-LEFT: 18px
}
.i171 {
	BACKGROUND-POSITION: 0px -3379px; PADDING-LEFT: 18px
}
.i172 {
	BACKGROUND-POSITION: 0px -3394px; PADDING-LEFT: 18px
}
.i173 {
	BACKGROUND-POSITION: 0px -3412px
}
.i174 {
	BACKGROUND-POSITION: 0px -3430px
}
.i175 {
	BACKGROUND-POSITION: 0px -3450px
}
.i176 {
	BACKGROUND-POSITION: 0px -3468px; PADDING-LEFT: 17px
}
.i177 {
	BACKGROUND-POSITION: 0px -3486px; PADDING-LEFT: 17px
}
.i178 {
	BACKGROUND-POSITION: 0px -3503px
}
.i179 {
	BACKGROUND-POSITION: 0px -3520px
}
.i180 {
	BACKGROUND-POSITION: 0px -3538px
}
.i181 {
	BACKGROUND-POSITION: 0px -3555px
}
.i182 {
	BACKGROUND-POSITION: 0px -3570px; PADDING-LEFT: 17px
}
.i183 {
	BACKGROUND-POSITION: 0px -3588px
}
.i184 {
	BACKGROUND-POSITION: 0px -3604px
}
.i185 {
	BACKGROUND-POSITION: 0px -3619px
}
.i186 {
	BACKGROUND-POSITION: 0px -3635px
}
.i187 {
	BACKGROUND-POSITION: 0px -3652px
}
.i188 {
	BACKGROUND-POSITION: 0px -3670px
}
.i189 {
	BACKGROUND-POSITION: 0px -3687px
}
.i190 {
	BACKGROUND-POSITION: 0px -3704px
}
.i191 {
	BACKGROUND-POSITION: 0px -3719px
}
.i192 {
	BACKGROUND-POSITION: 0px -3736px
}
.i193 {
	BACKGROUND-POSITION: 0px -3752px
}
.i194 {
	BACKGROUND-POSITION: 0px -3769px
}
.i195 {
	BACKGROUND-POSITION: 0px -3784px
}
.i196 {
	BACKGROUND-POSITION: 0px -3798px
}
.i197 {
	BACKGROUND-POSITION: 0px -3814px
}
.i198 {
	BACKGROUND-POSITION: 0px -3828px
}
.i199 {
	BACKGROUND-POSITION: 0px -3844px; PADDING-LEFT: 20px
}
.i200 {
	BACKGROUND-POSITION: 0px -3856px
}
.i201 {
	BACKGROUND-POSITION: 0px -3874px
}
.i202 {
	BACKGROUND-POSITION: 0px -3895px
}
.i203 {
	BACKGROUND-POSITION: 0px -3915px
}
.i204 {
	BACKGROUND-POSITION: 0px -3932px
}
.i205 {
	BACKGROUND-POSITION: 0px -3952px
}
.i206 {
	BACKGROUND-POSITION: 0px -3972px
}
.i207 {
	BACKGROUND-POSITION: 0px -3998px
}
.i208 {
	BACKGROUND-POSITION: 0px -4021px
}
.i209 {
	BACKGROUND-POSITION: 0px -4040px
}
.n_ {
	PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(img/v.gif); BACKGROUND-REPEAT: no-repeat
}
.e0 {
	BACKGROUND-POSITION: 3px -1px
}
.e0b {
	BACKGROUND-POSITION: 12px 1px; PADDING-LEFT: 0px
}
.e0c {
	BACKGROUND-POSITION: 1px -3px
}
.e1 {
	BACKGROUND-POSITION: 3px -25px
}
.e2 {
	BACKGROUND-POSITION: -1px -43px
}
.e3 {
	BACKGROUND-POSITION: -1px -65px
}
.e4 {
	BACKGROUND-POSITION: 3px -87px
}
.e5 {
	BACKGROUND-POSITION: 1px -109px
}
.e5b {
	BACKGROUND-POSITION: 1px -106px
}
.e5c {
	BACKGROUND-POSITION: 5px -109px
}
.e6 {
	BACKGROUND-POSITION: 1px -130px
}
.e7 {
	BACKGROUND-POSITION: -1px -149px
}
.e7b {
	BACKGROUND-POSITION: -1px -149px; PADDING-LEFT: 9px
}
.e7c {
	BACKGROUND-POSITION: 5px -149px
}
.e8 {
	BACKGROUND-POSITION: -1px -169px
}
.e8b {
	BACKGROUND-POSITION: -1px -169px; PADDING-LEFT: 9px
}
.e9 {
	BACKGROUND-POSITION: 3px -193px
}
.e10 {
	BACKGROUND-POSITION: -1px -211px
}
.e10_1 {
	BACKGROUND-POSITION: 4px -214px
}
.e11 {
	BACKGROUND-POSITION: -1px -233px
}
.e12 {
	BACKGROUND-POSITION: -1px -256px
}
.e13 {
	BACKGROUND-POSITION: 1px -276px
}
.e14 {
	BACKGROUND-POSITION: -1px -296px
}
.e15 {
	BACKGROUND-POSITION: 3px -318px
}
.f0 {
	BACKGROUND-POSITION: -1px -383px
}
.f1 {
	BACKGROUND-POSITION: -1px -403px
}
.f2 {
	BACKGROUND-POSITION: 3px -422px
}
.f2b {
	BACKGROUND-POSITION: 12px -420px; PADDING-LEFT: 0px
}
.f2c {
	BACKGROUND-POSITION: 1px -424px
}
.f3 {
	BACKGROUND-POSITION: -1px -443px
}
.f3b {
	BACKGROUND-POSITION: 12px -441px; PADDING-LEFT: 0px
}
.f4 {
	BACKGROUND-POSITION: -1px -465px
}
.f5 {
	BACKGROUND-POSITION: -1px -485px
}
.f6 {
	BACKGROUND-POSITION: 4px -506px
}
.f6c {
	BACKGROUND-POSITION: -1px -506px
}
.f7 {
	BACKGROUND-POSITION: -1px -527px
}
.f8 {
	BACKGROUND-POSITION: -1px -547px
}
.f9 {
	BACKGROUND-POSITION: -1px -567px
}
.f10 {
	BACKGROUND-POSITION: -1px -589px
}
.f11 {
	BACKGROUND-POSITION: -1px -610px
}
.f12 {
	BACKGROUND-POSITION: -1px -634px
}
.f13 {
	BACKGROUND-POSITION: 1px -656px
}
.f13c {
	BACKGROUND-POSITION: 3px -656px; PADDING-LEFT: 18px
}
.f14 {
	BACKGROUND-POSITION: -1px -676px
}
.f15 {
	BACKGROUND-POSITION: -1px -699px
}
.f16 {
	BACKGROUND-POSITION: -1px -716px
}
.f17 {
	BACKGROUND-POSITION: -1px -736px
}
.f18 {
	BACKGROUND-POSITION: -1px -760px; PADDING-LEFT: 16px; PADDING-BOTTOM: 4px
}
.f19 {
	BACKGROUND-POSITION: -1px -779px
}
.f20 {
	BACKGROUND-POSITION: -1px -779px
}
.f21 {
	BACKGROUND-POSITION: -1px -821px
}
.f22 {
	BACKGROUND-POSITION: -1px -842px
}
.f23 {
	BACKGROUND-POSITION: -1px -862px
}
.f24 {
	BACKGROUND-POSITION: -1px -885px
}
.f25 {
	BACKGROUND-POSITION: -1px -905px
}
.f26 {
	BACKGROUND-POSITION: -1px -926px
}
.f27 {
	BACKGROUND-POSITION: -1px -946px
}
.f28 {
	BACKGROUND-POSITION: -1px -967px
}
.f28c {
	BACKGROUND-POSITION: -1px -969px
}
.f29 {
	BACKGROUND-POSITION: 1px -990px; PADDING-LEFT: 18px
}
.f30 {
	BACKGROUND-POSITION: -1px -1010px
}
.f31 {
	BACKGROUND-POSITION: -1px -1030px
}
.f32 {
	BACKGROUND-POSITION: 8px -1053px; PADDING-LEFT: 25px
}
.f33 {
	BACKGROUND-POSITION: -1px -1073px; PADDING-LEFT: 25px
}
.f34 {
	BACKGROUND-POSITION: -1px -1093px
}
.f34_1 {
	BACKGROUND-POSITION: -1px -1096px
}
.f35 {
	BACKGROUND-POSITION: -1px -1116px
}
.f36 {
	BACKGROUND-POSITION: -1px -1136px
}
.f37 {
	BACKGROUND-POSITION: -1px -1156px
}
.f38 {
	BACKGROUND-POSITION: -1px -1176px
}
.f39 {
	BACKGROUND-POSITION: -1px -1199px; FONT-SIZE: 16px
}
.f40 {
	BACKGROUND-POSITION: -1px -1220px; FONT-SIZE: 16px
}
.k0 {
	BACKGROUND-POSITION: 3px -1262px
}
.k1 {
	BACKGROUND-POSITION: 3px -1282px
}
.k2 {
	BACKGROUND-POSITION: 5px -1306px
}
.k3 {
	BACKGROUND-POSITION: 3px -1325px; FONT-SIZE: 16px
}
.k4 {
	BACKGROUND-POSITION: 3px -1345px
}
.k4_1 {
	BACKGROUND-POSITION: 3px -1348px
}
.k5 {
	BACKGROUND-POSITION: -1px -1367px
}
.k6 {
	BACKGROUND-POSITION: -1px -1387px
}
.k7 {
	BACKGROUND-POSITION: -1px -1410px
}
.k8 {
	BACKGROUND-POSITION: -1px -1431px
}
.k9 {
	BACKGROUND-POSITION: -1px -1453px
}
.k10 {
	BACKGROUND-POSITION: -1px -1472px; PADDING-BOTTOM: 5px
}
.k11 {
	BACKGROUND-POSITION: -1px -1492px
}
.k12 {
	BACKGROUND-POSITION: -1px -1512px
}
.k13 {
	BACKGROUND-POSITION: -1px -1533px
}
.r0 {
	BACKGROUND-POSITION: -1px -1682px
}
.r1 {
	BACKGROUND-POSITION: -1px -1702px
}
.r2 {
	BACKGROUND-POSITION: 4px -1723px
}
.r2_1 {
	BACKGROUND-POSITION: -1px -1723px
}
.r3 {
	BACKGROUND-POSITION: -1px -1745px
}
.r4 {
	BACKGROUND-POSITION: -1px -1765px
}
.r5 {
	BACKGROUND-POSITION: -1px -1786px
}
.r6 {
	BACKGROUND-POSITION: -1px -1806px
}
.r7 {
	BACKGROUND-POSITION: 4px -1828px
}
.r7_1 {
	BACKGROUND-POSITION: -1px -1828px
}
.r8 {
	BACKGROUND-POSITION: -1px -1850px
}
.r9 {
	BACKGROUND-POSITION: -1px -1870px
}
.r10 {
	BACKGROUND-POSITION: -1px -1890px
}
.r11 {
	BACKGROUND-POSITION: -1px -1912px
}
.r12 {
	BACKGROUND-POSITION: -1px -1933px
}
.r13 {
	BACKGROUND-POSITION: -1px -1954px
}
.r14 {
	BACKGROUND-POSITION: -1px -1974px
}
.r15 {
	BACKGROUND-POSITION: -1px -1997px
}
.r16 {
	BACKGROUND-POSITION: -1px -2017px
}
.r17 {
	BACKGROUND-POSITION: -1px -2037px
}
.r18 {
	BACKGROUND-POSITION: -1px -2060px
}
.m0 {
	BACKGROUND-POSITION: -1px -2104px
}
.m1 {
	BACKGROUND-POSITION: -1px -2125px
}
.m2 {
	BACKGROUND-POSITION: -1px -2142px
}
.m3 {
	BACKGROUND-POSITION: -1px -2165px
}
.m4 {
	BACKGROUND-POSITION: -1px -2188px
}
.m5 {
	BACKGROUND-POSITION: -1px -2210px
}
.m6 {
	BACKGROUND-POSITION: -1px -2227px
}
.m7 {
	BACKGROUND-POSITION: -1px -2248px
}
.m7b {
	BACKGROUND-POSITION: -1px -2246px
}
.m8 {
	BACKGROUND-POSITION: -1px -2269px
}
.m9 {
	BACKGROUND-POSITION: 5px -2292px
}
.m9com {
	BACKGROUND-POSITION: 5px -2289px
}
.m10 {
	BACKGROUND-POSITION: -1px -2314px; PADDING-LEFT: 24px
}
.m11 {
	BACKGROUND-POSITION: -1px -2335px; PADDING-LEFT: 24px
}
.m12 {
	BACKGROUND-POSITION: -1px -2355px; PADDING-LEFT: 24px
}
.m13 {
	BACKGROUND-POSITION: -1px -2376px; PADDING-LEFT: 24px
}
.m14 {
	BACKGROUND-POSITION: -1px -2394px
}
.m15 {
	BACKGROUND-POSITION: 3px -2419px; PADDING-LEFT: 12px
}
.m16 {
	BACKGROUND-POSITION: 2px -2439px; PADDING-LEFT: 12px
}
.m17 {
	BACKGROUND-POSITION: -1px -2457px
}
.m17_1 {
	BACKGROUND-POSITION: -1px -2460px
}
.m18 {
	BACKGROUND-POSITION: 5px -2481px; PADDING-LEFT: 17px
}
.m19 {
	BACKGROUND-POSITION: 5px -2502px; PADDING-LEFT: 17px
}
.m20 {
	BACKGROUND-POSITION: 5px -2523px; PADDING-LEFT: 17px
}
.m21 {
	BACKGROUND-POSITION: 5px -2544px; PADDING-LEFT: 17px
}
.m22 {
	BACKGROUND-POSITION: 5px -2564px; PADDING-LEFT: 17px
}
.m23 {
	BACKGROUND-POSITION: 5px -2586px; PADDING-LEFT: 17px
}
.m24 {
	BACKGROUND-POSITION: 0px -2608px; PADDING-LEFT: 13px
}
.m25 {
	BACKGROUND-POSITION: 0px -2629px; PADDING-LEFT: 13px
}
.m26 {
	BACKGROUND-POSITION: 0px -2650px; PADDING-LEFT: 13px
}
.m27 {
	BACKGROUND-POSITION: 0px -2671px; PADDING-LEFT: 13px
}
.n0 {
	BACKGROUND-POSITION: 5px -2733px; PADDING-LEFT: 17px
}
.n1 {
	BACKGROUND-POSITION: 5px -2754px; PADDING-LEFT: 17px
}
.n2 {
	BACKGROUND-POSITION: -1px -2773px; PADDING-LEFT: 17px
}
.n2_1 {
	BACKGROUND-POSITION: -1px -2776px; PADDING-LEFT: 17px
}
.n3 {
	BACKGROUND-POSITION: -1px -2793px; PADDING-LEFT: 17px
}
.n3_1 {
	BACKGROUND-POSITION: -1px -2796px; PADDING-LEFT: 17px
}
.n4 {
	BACKGROUND-POSITION: -1px -2817px
}
.n5 {
	BACKGROUND-POSITION: -1px -2837px
}
.n6 {
	BACKGROUND-POSITION: 5px -2859px; PADDING-LEFT: 15px
}
.n7 {
	BACKGROUND-POSITION: -1px -2879px; PADDING-LEFT: 15px
}
.n8 {
	BACKGROUND-POSITION: -1px -2899px
}
.n9 {
	BACKGROUND-POSITION: -1px -2923px; PADDING-LEFT: 15px
}
.n10 {
	BACKGROUND-POSITION: -1px -2941px
}
.n11 {
	BACKGROUND-POSITION: -1px -2962px
}
.n12 {
	BACKGROUND-POSITION: -1px -2983px
}
.n13 {
	BACKGROUND-POSITION: -1px -3003px
}
.n14 {
	BACKGROUND-POSITION: 3px -3025px
}
.n15 {
	BACKGROUND-POSITION: -1px -3045px
}
.n16 {
	BACKGROUND-POSITION: -1px -3070px; PADDING-LEFT: 14px
}
.n17 {
	BACKGROUND-POSITION: -1px -3091px; PADDING-LEFT: 18px
}
.n18 {
	BACKGROUND-POSITION: -1px -3108px
}
.n19 {
	BACKGROUND-POSITION: 5px -3132px
}
.n20 {
	BACKGROUND-POSITION: 1px -3151px; FONT-SIZE: 16px
}
.n21 {
	BACKGROUND-POSITION: -1px -3174px
}
.n22 {
	BACKGROUND-POSITION: -1px -3194px
}
.n23 {
	BACKGROUND-POSITION: 5px -3216px; PADDING-LEFT: 18px
}
.n24 {
	BACKGROUND-POSITION: 5px -3237px; PADDING-LEFT: 18px
}
.n25 {
	BACKGROUND-POSITION: -1px -3258px; PADDING-LEFT: 16px
}
.n26 {
	BACKGROUND-POSITION: -1px -3278px
}
.n27 {
	BACKGROUND-POSITION: 3px -3300px; PADDING-LEFT: 17px
}
.n28 {
	BACKGROUND-POSITION: 5px -3322px; PADDING-LEFT: 17px
}
.n29 {
	BACKGROUND-POSITION: 5px -3343px; PADDING-LEFT: 17px
}
.n30 {
	BACKGROUND-POSITION: -1px -3363px
}
.n31 {
	BACKGROUND-POSITION: -1px -3383px
}
.n32 {
	BACKGROUND-POSITION: 3px -3404px; PADDING-LEFT: 15px
}
.n33 {
	BACKGROUND-POSITION: 5px -3425px; PADDING-LEFT: 15px
}
.n33c {
	PADDING-RIGHT: 15px; BACKGROUND-POSITION: 103% -3425px; PADDING-LEFT: 0px
}
.n34 {
	BACKGROUND-POSITION: -1px -3443px; PADDING-LEFT: 15px
}
.n35 {
	BACKGROUND-POSITION: -1px -3469px
}
.n36 {
	BACKGROUND-POSITION: 2px -3487px
}
.n37 {
	BACKGROUND-POSITION: 2px -3509px
}
.n38 {
	BACKGROUND-POSITION: 1px -3529px
}
.n39 {
	BACKGROUND-POSITION: 1px -3552px
}
.n40 {
	BACKGROUND-POSITION: 1px -3573px
}
.n41 {
	BACKGROUND-POSITION: 1px -3593px
}
.n42 {
	BACKGROUND-POSITION: 1px -3616px
}
.n43 {
	BACKGROUND-POSITION: 1px -3637px
}
.n44 {
	BACKGROUND-POSITION: 1px -3657px; FONT-SIZE: 13px
}
.n45 {
	BACKGROUND-POSITION: 1px -3679px; FONT-SIZE: 13px
}
.n46 {
	BACKGROUND-POSITION: 1px -3700px
}
.n47 {
	BACKGROUND-POSITION: 1px -3721px
}
.n48 {
	BACKGROUND-POSITION: -1px -3740px
}
.n49 {
	BACKGROUND-POSITION: -1px -3762px
}
.n50 {
	BACKGROUND-POSITION: -1px -3789px
}
.n51 {
	BACKGROUND-POSITION: -1px -3814px
}
.p_ {
	BACKGROUND: url(img/p.gif) no-repeat
}
.p0 {
	BACKGROUND-POSITION: -1px 0px; PADDING-LEFT: 34px; font-sieze: 14px
}
.p1 {
	BACKGROUND-POSITION: -1px -14px; PADDING-LEFT: 34px
}
.p22 {
	BACKGROUND-POSITION: -1px -28px
}
.p23 {
	BACKGROUND-POSITION: -1px -73px
}
.p24 {
	BACKGROUND-POSITION: -1px -125px
}
.p25 {
	BACKGROUND-POSITION: -1px -171px
}
.p26 {
	BACKGROUND-POSITION: -1px -209px
}
.p27 {
	BACKGROUND-POSITION: -1px -253px
}
.p28 {
	BACKGROUND-POSITION: -1px -295px
}
.p50 {
	BACKGROUND-POSITION: -1px -674px
}
.p2 {
	BACKGROUND-POSITION: -1px -342px; WIDTH: 94px; HEIGHT: 94px; TEXT-ALIGN: left
}
.p2 IMG {
	MARGIN: 8px 0px 0px 8px; WIDTH: 75px; HEIGHT: 75px
}
.p2 IMG.c {
	MARGIN: 8px 0px 0px -2px
}
.p29 {
	BACKGROUND-POSITION: -1px -439px; WIDTH: 94px; HEIGHT: 94px
}
.p29 IMG {
	MARGIN-TOP: 10px; MARGIN-LEFT: -2px
}
.p30 {
	BACKGROUND-POSITION: -1px -540px; WIDTH: 70px; HEIGHT: 70px; TEXT-ALIGN: left
}
.p30 IMG {
	MARGIN: 6px 0px 0px 9px; WIDTH: 50px; HEIGHT: 50px
}
.p3 {
	BACKGROUND-POSITION: -1px -144px; MARGIN-LEFT: 3px
}
.p4 {
	BACKGROUND-POSITION: -1px -120px; MARGIN-LEFT: 3px
}
.p5 {
	BACKGROUND-POSITION: -1px -48px; MARGIN-LEFT: 20px
}
.p6 {
	BACKGROUND-POSITION: -1px -24px; MARGIN-LEFT: 3px
}
.p7 {
	BACKGROUND-POSITION: -1px -168px; MARGIN-LEFT: 3px
}
.p8 {
	BACKGROUND-POSITION: -1px -72px; MARGIN-LEFT: 3px
}
.p9 {
	BACKGROUND-POSITION: -1px 0px; MARGIN-RIGHT: 3px
}
.p10 {
	BACKGROUND-POSITION: -1px -96px; MARGIN-LEFT: 3px
}
