.pagelogin {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FILTER: alpha(opacity=70); FLOAT: right; PADDING-BOTTOM: 3px; MARGIN: 5px 5px 0px 0px; COLOR: #000; PADDING-TOP: 3px; HEIGHT: 15px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: right; moz-opacity: 0.7
}
.pagelogin A {
	COLOR: #000
}
#pagehead {
	MARGIN: 0px auto; WIDTH: 990px; HEIGHT: 87px; TEXT-ALIGN: left
}
#pagehead .pagelogo {
	FLOAT: left; WIDTH: 170px; HEIGHT: 87px
}
#pagehead .pagelogoedit {
	FLOAT: left; WIDTH: 170px; HEIGHT: 87px
}
#pagehead .pagelogoprev {
	FLOAT: left; WIDTH: 170px; HEIGHT: 87px
}
#pagehead .pagelogoPro {
	FLOAT: left; WIDTH: 170px; HEIGHT: 87px
}
#pagehead .pagelogo {
	BACKGROUND: url(/style/common/logo.gif) no-repeat
}
#pagehead .pagelogoedit {
	BACKGROUND: url(/style/common/logo_edit.gif) no-repeat
}
#pagehead .pagelogoprev {
	BACKGROUND: url(/style/common/logo_prev.gif) no-repeat
}
.pagetitle {
	FLOAT: left; MARGIN-LEFT: 20px; WIDTH: 780px
}
#pagehead #spacename {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; WIDTH: 500px; HEIGHT: 24px; TEXT-ALIGN: left
}
#pagehead #spacedesc {
	MARGIN-TOP: 2px; WIDTH: 500px; HEIGHT: 12px; TEXT-ALIGN: left
}
#pagehead .pageheadinput {
	WIDTH: 300px; HEIGHT: 14px
}
#pagesectionlink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 990px; PADDING-TOP: 0px; HEIGHT: 32px; TEXT-ALIGN: right
}
#pagesectionlink DIV.pagesectionfront {
	CLEAR: none; PADDING-RIGHT: 9px; PADDING-LEFT: 9px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 9px; WIDTH: 170px; PADDING-TOP: 9px; HEIGHT: 14px; TEXT-ALIGN: center
}
#pagesectionlink UL.mainnavbar {
	CLEAR: none; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; HEIGHT: 32px; TEXT-ALIGN: center
}
#pagesectionlink LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 9px; MARGIN: 0px; WIDTH: 63px; PADDING-TOP: 9px; HEIGHT: 14px; TEXT-ALIGN: center
}
#pagesectionlink UL.mainnavbar LI.selecttab {
	FONT-WEIGHT: bold
}
#pagesectionlink UL.mainnavbar LI.selecttab76 {
	FONT-WEIGHT: bold
}
#pagesectionlink UL.pagesectionrightlink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 32px; TEXT-ALIGN: center
}
#userDefined {
	MARGIN: auto; WIDTH: 990px
}
#pagebody {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MIN-HEIGHT: 560px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; WIDTH: 990px; PADDING-TOP: 10px; HEIGHT: 570px; TEXT-ALIGN: left
}
.pagebody2colsleft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; WIDTH: 190px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.pagebody2colsright {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; OVERFLOW-X: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; WIDTH: 770px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.pagebody4PermLink {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; OVERFLOW-X: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; WIDTH: 950px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.pagebodyblock {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-TOP: 0px
}
.pageblocksubtitle {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 14px
}
.pagebodyblockbody {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 1px solid; TEXT-ALIGN: left
}
.pagebodyblockcontent {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.pagebody2colsleft .pagebodyblockbody H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-TOP: 0px
}
.pagebody2colsleft UL {
	MARGIN: 5px 5px 10px 30px
}
.pagebody2colsleft UL LI {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.pagebody2colsleft .rcntcom {
	MARGIN-BOTTOM: 2px
}
.pagebody2colsleft IMG.channellogo {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 16px; BORDER-LEFT: #999 1px solid; WIDTH: 140px; PADDING-TOP: 0px; BORDER-BOTTOM: #999 1px solid; HEIGHT: 140px
}
.pagebody2colsleft .innerDiv {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px; PADDING-TOP: 0px
}
.pagebody2colsleft .innerDiv UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.pagebody2colsleft .innerDiv LI {
	MARGIN: 5px
}
.pagebody2colsleft .innerDiv LI IMG {
	MARGIN-RIGHT: 5px
}
.pagebody2colsleft #searchInput {
	WIDTH: 110px
}
.pagebody2colsleft #searchButt {
	HEIGHT: 19px
}
.pagebody2colsleft .subnavright {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.pagebody2colsleft .subnavleft {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.pagebody2colsleft .subbody {
	OVERFLOW-X: hidden; WIDTH: 178px; TEXT-OVERFLOW: ellipsis
}
.pagebody2colsleft .subbody .sublist {
	MARGIN: 5px 5px 5px 15px
}
.pagebody2colsleft .subbody .sublistitem {
	MARGIN: 2px 5px 2px 35px
}
.subnav {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px
}
.subnavitem {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; MARGIN: 3px 6px; PADDING-TOP: 2px
}
.floatleft {
	FLOAT: left
}
.floatright {
	CLEAR: none; FLOAT: right
}
.menuleft {
	CLEAR: none; MARGIN-LEFT: 15px; OVERFLOW: hidden; WIDTH: 80%; TEXT-OVERFLOW: ellipsis
}
.menuright {
	FLOAT: right; MARGIN-RIGHT: 10px
}
.alignright {
	MARGIN: 5px 10px 5px 5px; TEXT-ALIGN: right
}
.aligncenter {
	TEXT-ALIGN: center
}
#pagefoot {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 20px; MARGIN: 0px auto; WIDTH: 990px; LINE-HEIGHT: 32px; PADDING-TOP: 20px; HEIGHT: 70px; TEXT-ALIGN: center
}
DIV.sepDiv {
	CLEAR: both; FONT-SIZE: 1px; FLOAT: none; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 1px
}
.enableurl {
	CURSOR: pointer; TEXT-DECORATION: none
}
.disabledurl {
	CURSOR: default; TEXT-DECORATION: none
}
.disabledurl:hover {
	CURSOR: default; TEXT-DECORATION: none
}
.enablebutton {
	CURSOR: pointer
}
.loading {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; POSITION: absolute; TOP: 0px
}
.loginsection {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: 5px; BORDER-LEFT: #000 1px solid; COLOR: #333333; PADDING-TOP: 10px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: center
}
.loginsection SPAN {
	FONT-SIZE: 14px
}
.loginsection A {
	COLOR: #3366cc
}
.copytext {
	VERTICAL-ALIGN: middle; CURSOR: pointer
}
#tooltipwrap {
	BACKGROUND-POSITION: right bottom; DISPLAY: block; BACKGROUND-IMAGE: none; BACKGROUND-REPEAT: no-repeat
}
#tooltipcontent {
	BORDER-RIGHT: #003366 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #003366 1px solid; PADDING-LEFT: 3px; FILTER: progid:DXImageTransform.Microsoft.dropshadow(OffX=3, OffY=4, strength=7,direction=115, Color='#aaaaaa', Positive=true); LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: #003366 1px solid; WIDTH: 100px; COLOR: white; PADDING-TOP: 3px; BORDER-BOTTOM: #003366 1px solid; POSITION: fixed; TOP: 0px; HEIGHT: auto; BACKGROUND-COLOR: #6699cc; TEXT-ALIGN: left
}
.pagehint {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; MARGIN: 10px; WIDTH: 725px; PADDING-TOP: 10px; HEIGHT: 12px
}
.tipsuppercap {
	FONT-SIZE: 2px; HEIGHT: 11px; TEXT-ALIGN: left
}
#tipslefttopcorner {
	BACKGROUND-IMAGE: url(../tip_corner_left_top.gif); WIDTH: 11px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 11px
}
#tipsrighttopcorner {
	FLOAT: right; BACKGROUND-IMAGE: url(../tip_corner_right_top.gif); WIDTH: 11px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 11px
}
#tipstopmiddle {
	FONT-SIZE: 1px; BACKGROUND-IMAGE: url(../tip_corner_top.gif); MARGIN: -11px 11px 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 11px; BACKGROUND-COLOR: #ffffe1
}
.tipslowercap {
	FONT-SIZE: 2px; HEIGHT: 11px; TEXT-ALIGN: left
}
#tipsleftbottomcorner {
	BACKGROUND-IMAGE: url(../tip_corner_left_bottom.gif); WIDTH: 11px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 11px
}
#tipsrightbottomcorner {
	FLOAT: right; BACKGROUND-IMAGE: url(../tip_corner_right_bottom.gif); WIDTH: 11px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 11px
}
#tipsbottommiddle {
	BACKGROUND-POSITION: 50% bottom; FONT-SIZE: 1px; BACKGROUND-IMAGE: url(../tip_corner_bottom.gif); MARGIN: -11px 11px 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 11px; BACKGROUND-COLOR: #ffffe1
}
.tipsbody {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; BORDER-LEFT: #ccc 1px solid; WORD-BREAK: break-all; PADDING-TOP: 0px; TEXT-OVERFLOW: ellipsis; BACKGROUND-COLOR: #ffffe1; TEXT-ALIGN: left
}
.tipsarrow {
	LEFT: 20px; FLOAT: left; BACKGROUND-IMAGE: url(../tip_arrow.gif); WIDTH: 8px; BOTTOM: 1px; BACKGROUND-REPEAT: no-repeat; POSITION: relative; HEIGHT: 8px
}
.indictblocksubtitle {
	CLEAR: both; PADDING-RIGHT: 17px; PADDING-LEFT: 170px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
.contact_card {
	WIDTH: 260px; HEIGHT: auto
}
.popup_card {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; Z-INDEX: 1000; FILTER: progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135,Color=#aaaaaa); BORDER-LEFT: #999 1px solid; COLOR: #333; BORDER-BOTTOM: #999 1px solid; POSITION: absolute; BACKGROUND-COLOR: #fff; TEXT-ALIGN: left
}
.popup_card A {
	CURSOR: pointer; COLOR: #366
}
.popup_card SPAN.modulelink {
	CURSOR: pointer; COLOR: #366
}
.popup_title {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; MARGIN: 2px; COLOR: #333; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid
}
.popup_title DIV.closeicon {
	FLOAT: right; MARGIN: 1px; WIDTH: 15px; LINE-HEIGHT: 30px; TEXT-ALIGN: right
}
.popup_card .popup_card_title {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(/style/common/index/bg_topbar_1.gif) repeat-x -1px 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #4e6e89; LINE-HEIGHT: 30px; BORDER-RIGHT-WIDTH: 0px
}
.popup_card_title DIV.closeicon {
	MARGIN: 5px 3px 0px 0px
}
.popup_card_title SPAN {
	FONT-WEIGHT: bold; COLOR: #2e6fc9
}
.popup_card_title A {
	FONT-WEIGHT: bold; COLOR: #2e6fc9
}
.popup_card .popup_card_category {
	PADDING-RIGHT: 42px; PADDING-LEFT: 42px; PADDING-BOTTOM: 0px; MARGIN: 0px 10px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #ececec 1px solid; HEIGHT: 24px; TEXT-ALIGN: center
}
.popup_card_category A {
	COLOR: #aaaaaa
}
.popup_card .popup_card_category UL LI {
	DISPLAY: block; FLOAT: left; WIDTH: 54px; BOTTOM: -1px; POSITION: relative; BACKGROUND-COLOR: #fff
}
.popup_card .popup_card_content {
	MARGIN: 20px 0px
}
.popup_card .popup_card_tips {
	PADDING-LEFT: 50px; COLOR: #aaaaaa
}
.popup_card_tips A {
	COLOR: #2e6fc9
}
.popup_card_tips .tips_input_zone {
	MARGIN: 5px 30px 15px 0px; TEXT-ALIGN: center
}
.popup_card_content .card_content_left {
	FLOAT: left; WIDTH: 49px
}
.popup_card_content .card_content_right {
	FLOAT: left; WIDTH: 49px
}
.card_content_left INPUT {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 188px 3px; BORDER-RIGHT-WIDTH: 0px
}
.card_content_right INPUT {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 188px 3px; BORDER-RIGHT-WIDTH: 0px
}
.popup_card_content .card_content_body {
	FLOAT: left
}
.card_content_body .card_content_info {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 5px; COLOR: #2e6fc9; PADDING-TOP: 0px
}
.card_content_body .card_content_center {
	BORDER-RIGHT: #ececec 1px solid; BORDER-TOP: #ececec 1px solid; MIN-HEIGHT: 400px; BORDER-LEFT: #ececec 1px solid; WIDTH: 500px; BORDER-BOTTOM: #ececec 1px solid; HEIGHT: 400px
}
.card_content_center .card_content_cards {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.card_content_cards .card_card_info {
	FLOAT: left; MARGIN: 20px 22px 10px; OVERFLOW: hidden; WIDTH: 106px; HEIGHT: 101px; TEXT-OVERFLOW: ellipsis
}
.card_content_cards .card_card_info A {
	COLOR: #2e6fc9
}
.card_content_cards .card_card_info IMG {
	BORDER-RIGHT: #bdc9cf 1px solid; BORDER-TOP: #bdc9cf 1px solid; BORDER-LEFT: #bdc9cf 1px solid; WIDTH: 104px; BORDER-BOTTOM: #bdc9cf 1px solid; HEIGHT: 75px
}
.card_content_center .card_prev_title {
	MARGIN-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 500px; COLOR: #2e6fc9; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: center
}
.card_content_center .card_prev_card {
	OVERFLOW: hidden; WIDTH: 500px; HEIGHT: 400px; TEXT-OVERFLOW: ellipsis
}
.card_prev_card EMBED {
	WIDTH: 500px; HEIGHT: 400px
}
.popup_card .card_recv_content {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 240px; PADDING-TOP: 10px; TEXT-OVERFLOW: ellipsis
}
.popup_card .popup_event_title {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; BACKGROUND: url(/style/common/index/bg_topbar_1.gif) repeat-x -1px 0px; COLOR: #0066cc; LINE-HEIGHT: 30px
}
.popup_event_title DIV.closeicon {
	MARGIN: 5px 3px 0px 0px
}
.popup_card .popup_event_category {
	MARGIN: 8px 10px 0px; COLOR: #7a7a7a; LINE-HEIGHT: 24px; HEIGHT: 24px
}
.popup_card .popup_event_category A {
	COLOR: #0066cc
}
.popup_card #remind_msg_frame {
	MARGIN: 10px auto; WIDTH: 90%; TEXT-ALIGN: center
}
.popup_card #remind_msg_frame TABLE {
	WIDTH: 100%; TEXT-ALIGN: left
}
.popup_card #remind_msg_frame TABLE TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
.popup_card #remind_msg_frame TEXTAREA {
	PADDING-LEFT: 5px; BORDER-LEFT-COLOR: #7f9db9; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #7f9db9; OVERFLOW: auto; COLOR: #000; BORDER-TOP-COLOR: #7f9db9; PADDING-TOP: 5px; BORDER-RIGHT-COLOR: #7f9db9
}
.popup_event_category #category_frame_zone {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FLOAT: left; BORDER-LEFT: 1px solid; WIDTH: 120px; BORDER-BOTTOM: 1px solid; POSITION: relative; HEIGHT: 22px
}
.popup_event_category #category_frame_content {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 0px solid; BACKGROUND: #fff; LEFT: -1px; BORDER-LEFT: 1px solid; WIDTH: 100%; BORDER-BOTTOM: 1px solid; POSITION: absolute; TOP: 25px
}
.popup_event_category #category_frame_title {
	BACKGROUND: url(/style/common/remind/ico_list_down.gif) no-repeat right center; MARGIN: 0px 2px 0px 5px; CURSOR: pointer; COLOR: #0066cc; HEIGHT: 100%
}
.popup_event_category #category_select {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 100px
}
#category_frame_content .category {
	PADDING-LEFT: 5px; CURSOR: pointer; LINE-HEIGHT: 20px
}
.popup_card .popup_event_content {
	FONT-SIZE: 12px; MARGIN: 10px
}
.popup_event_content UL {
	LIST-STYLE-TYPE: none
}
.popup_event_content UL LI {
	MARGIN: 10px 0px; OVERFLOW: hidden; WIDTH: 580px; TEXT-OVERFLOW: ellipsis
}
.popup_event_content LI.unread {
	FONT-WEIGHT: bold; COLOR: #0066cc
}
.popup_event_content LI.unread A {
	FONT-WEIGHT: bold; COLOR: #0066cc
}
.popup_event_content LI.unread .spantime {
	FONT-WEIGHT: normal; COLOR: #b4b4b4
}
.popup_event_content LI.read {
	FONT-WEIGHT: normal; COLOR: #7a7a7a
}
.popup_event_content LI.read A {
	FONT-WEIGHT: normal; COLOR: #7a7a7a
}
.popup_event_content LI.read .spantime {
	FONT-WEIGHT: normal; COLOR: #b4b4b4
}
.popup_event_content .notice {
	FONT-WEIGHT: bold! important; COLOR: #7a7a7a! important
}
.popup_event_content LI.mail {
	FONT-WEIGHT: normal! important
}
.popup_event_content LI.mail A {
	FONT-WEIGHT: normal! important
}
.popup_event_content LI.mail DIV {
	FLOAT: left; OVERFLOW: hidden; WHITE-SPACE: nowrap
}
.popup_card #ne_toolbar A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 18px; BACKGROUND: #fff; PADDING-BOTTOM: 2px; MARGIN: 0px 2px; CURSOR: pointer; COLOR: #202020; PADDING-TOP: 4px
}
.popup_card #ne_toolbar A:hover {
	BACKGROUND: #316ac5; TEXT-DECORATION: none
}
.popup_card #ne_toolbar DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; BORDER-BOTTOM: #999 1px solid
}
.popup_card .popup_toolbarset_title {
	FONT-SIZE: 15px; BACKGROUND: url(/style/common/index/bg_topbar_1.gif) repeat-x -1px 0px; COLOR: #0066cc; LINE-HEIGHT: 30px
}
.popup_card #ne_toolbar_set {
	MARGIN: 30px; COLOR: #7a7a7a
}
.popup_card #ne_toolbar_set .setgroup {
	FLOAT: left; MARGIN: 0px 0px 15px; WIDTH: 100%
}
.popup_card .setgroup DIV {
	FLOAT: left
}
.popup_card .setgroup .title {
	FONT-WEIGHT: bold; MARGIN-LEFT: 25px; WIDTH: 330px
}
.popup_card .setgroup .zone {
	MARGIN-TOP: 5px; MARGIN-LEFT: 25px; WIDTH: 330px
}
.popup_card .setgroup SPAN {
	FLOAT: left; WIDTH: 80px; CURSOR: pointer
}
.popup_card .input_s {
	BORDER-RIGHT: #c5c5c5 1px solid; BORDER-TOP: #c5c5c5 1px solid; BACKGROUND: #e4f8ff; BORDER-LEFT: #c5c5c5 1px solid; WIDTH: 70px; COLOR: #464646; BORDER-BOTTOM: #c5c5c5 1px solid; HEIGHT: 24px
}
.popup_card #ne_focusme_frame .input_s {
	BORDER-RIGHT: #c5c5c5 1px solid; BORDER-TOP: #c5c5c5 1px solid; BACKGROUND: #e4f8ff; BORDER-LEFT: #c5c5c5 1px solid; WIDTH: 70px; COLOR: #464646; BORDER-BOTTOM: #c5c5c5 1px solid; HEIGHT: 24px
}
.popup_card .input_c {
	BORDER-RIGHT: #c5c5c5 1px solid; BORDER-TOP: #c5c5c5 1px solid; BACKGROUND: #f4f4f4; MARGIN-LEFT: 24px; BORDER-LEFT: #c5c5c5 1px solid; WIDTH: 70px; COLOR: #636363; BORDER-BOTTOM: #c5c5c5 1px solid; HEIGHT: 24px
}
.popup_card #ne_focusme_frame .input_c {
	BORDER-RIGHT: #c5c5c5 1px solid; BORDER-TOP: #c5c5c5 1px solid; BACKGROUND: #f4f4f4; MARGIN-LEFT: 24px; BORDER-LEFT: #c5c5c5 1px solid; WIDTH: 70px; COLOR: #636363; BORDER-BOTTOM: #c5c5c5 1px solid; HEIGHT: 24px
}
.popup_card #ne_focusme_menu A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 18px; BACKGROUND: #fff; PADDING-BOTTOM: 5px; MARGIN: 5px 2px; CURSOR: pointer; COLOR: #000; PADDING-TOP: 5px
}
.popup_card #ne_focusme_menu A:hover {
	BACKGROUND: #316ac5; TEXT-DECORATION: none
}
.popup_card #ne_focusme_menu DIV {
	BORDER-BOTTOM: #e6e6e6 1px solid
}
.popup_card .popup_focusme_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 15px; BACKGROUND: url(/style/common/index/bg_topbar_1.gif) repeat-x -1px 0px; PADDING-BOTTOM: 5px; COLOR: #000; PADDING-TOP: 5px
}
.popup_card #ne_focusme_frame {
	MARGIN: 10px auto; WIDTH: 90%; TEXT-ALIGN: center
}
.popup_card #ne_focusme_frame INPUT {
	BORDER-LEFT-COLOR: #7f9db9; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #7f9db9; COLOR: #000; BORDER-TOP-COLOR: #7f9db9; BORDER-RIGHT-COLOR: #7f9db9
}
.popup_card #ne_focusme_frame TEXTAREA {
	BORDER-LEFT-COLOR: #7f9db9; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #7f9db9; COLOR: #000; BORDER-TOP-COLOR: #7f9db9; BORDER-RIGHT-COLOR: #7f9db9
}
.popup_card #ne_focusme_frame SELECT {
	BORDER-LEFT-COLOR: #7f9db9; BACKGROUND: #fff; BORDER-BOTTOM-COLOR: #7f9db9; COLOR: #000; BORDER-TOP-COLOR: #7f9db9; BORDER-RIGHT-COLOR: #7f9db9
}
.popup_card #ne_focusme_frame INPUT {
	PADDING-LEFT: 5px; LINE-HEIGHT: 17px; HEIGHT: 17px
}
.popup_card #ne_focusme_frame TEXTAREA {
	PADDING-LEFT: 5px; OVERFLOW: auto; PADDING-TOP: 5px
}
.popup_card #ne_focusme_frame TABLE {
	WIDTH: 100%; TEXT-ALIGN: left
}
.popup_card #ne_focusme_frame TABLE TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
.popup_card #ne_focusme_frame #ne_submail_set {
	WIDTH: 260px
}
.popup_card #ne_focusme_frame #ne_submail_set DIV {
	FLOAT: left; WIDTH: 130px
}
.list_wp {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.list_box TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#innerLoginDiv {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0% 15%; PADDING-LEFT: 0px; Z-INDEX: 1; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: left
}
.qLoginTitle {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(/style/common/index/bg_topbar_1.gif) repeat-x -1px 0px; PADDING-BOTTOM: 2px; MARGIN: 2px; COLOR: #4e6e89; LINE-HEIGHT: 30px; PADDING-TOP: 2px; BORDER-BOTTOM: #e6e6e6 1px solid
}
.qLoginTitle DIV.closeicon {
	FLOAT: right; MARGIN: 5px 3px 0px 0px; WIDTH: 15px; LINE-HEIGHT: 30px; TEXT-ALIGN: right
}
#innerLoginDiv TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px
}
#innerLoginDiv UL {
	CLEAR: both; LIST-STYLE-TYPE: none
}
#innerLoginDiv LI {
	FLOAT: left; HEIGHT: 16px
}
.inputLogin {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #aaa 1px solid; WIDTH: 205px; PADDING-TOP: 1px; BORDER-BOTTOM: #aaa 1px solid; HEIGHT: 16px
}
#innerLoginDiv A {
	COLOR: #5996e3; TEXT-DECORATION: none
}
.namePwdTd {
	WIDTH: 10%; COLOR: #4e6e89; TEXT-ALIGN: right
}
#login_title {
	PADDING-RIGHT: 13px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(/style/common/index/bg_topbar_1.gif) no-repeat -1px 0px; PADDING-BOTTOM: 13px; COLOR: #4e6e89; PADDING-TOP: 11px
}
#setCookieCheck {
	MARGIN: 0px 3px 2px 0px; WIDTH: 12px; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 12px; BORDER-BOTTOM-STYLE: none
}
.CustomHtmlToolBar {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; MARGIN: 5px 0px; WIDTH: 95%; PADDING-TOP: 4px
}
.list_box_content1 {
	BACKGROUND: url(/style/common/empty.gif) 0px 0px
}
.list_box_content2 {
	BACKGROUND: url(/style/common/empty.gif) 0px 0px
}
.list_box_content1 {
	LINE-HEIGHT: 130%
}
.list_box_content1  {
	LINE-HEIGHT: 130%
}
.list_box_content1 {
	LINE-HEIGHT: 130%
}
.list_box_content2  {
	LINE-HEIGHT: 130%
}
.list_box_content1 P {
	MARGIN: 7px 0px 1px
}
.list_box_content2 P {
	MARGIN: 7px 0px 1px
}
#remind_top_zone {
	DISPLAY: none; BACKGROUND: #ffffe1; MARGIN: 0px auto; WIDTH: 1004px; COLOR: #333
}
#remind_top_content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 3px; OVERFLOW: hidden; WIDTH: 976px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
#remind_top_content A {
	COLOR: #333
}
#remind_top_close {
	DISPLAY: block; BACKGROUND: url(/style/common/icn_closew.gif) no-repeat left center; FLOAT: left; WIDTH: 15px; CURSOR: pointer; HEIGHT: 22px
}
.pageSelect {
	MARGIN: 0px 1px; POSITION: relative
}
.opt {
	BORDER-RIGHT: #849cad 1px solid; BORDER-TOP: #849cad 1px solid; OVERFLOW-Y: auto; Z-INDEX: 1000000; BACKGROUND: #fff; LEFT: 0px; BORDER-LEFT: #849cad 1px solid; BORDER-BOTTOM: #849cad 1px solid; POSITION: absolute; ; HEIGHT: expression(this.scrollHeight>280?"280px":"auto"); max-height: 280px
}
.opt A {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; PADDING-LEFT: 2px; FONT-SIZE: 12px; BACKGROUND: #fff; BORDER-LEFT: #ffffff 1px solid; CURSOR: default; COLOR: #333333; LINE-HEIGHT: 12px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma,Arial,Verdana,Helvetica,Sans-Serif; HEIGHT: 12px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.opt A:hover {
	BORDER-RIGHT: #317fce 1px solid; BORDER-TOP: #317fce 1px solid; BACKGROUND: #317fce; BORDER-LEFT: #317fce 1px solid; COLOR: #fff; BORDER-BOTTOM: #317fce 1px solid; TEXT-DECORATION: none
}
.opt .ttt {
	BORDER-RIGHT: #317fce 1px solid; BORDER-TOP: #317fce 1px solid; BACKGROUND: #317fce; BORDER-LEFT: #317fce 1px solid; COLOR: #fff; BORDER-BOTTOM: #317fce 1px solid
}
.textBorder {
	PADDING-RIGHT: 2px; MARGIN-TOP: 1px; PADDING-LEFT: 0px; BACKGROUND: url(http://st.blog.163.com/style/common/icn_page0.gif) no-repeat 93% center; PADDING-BOTTOM: 0px; CURSOR: default; PADDING-TOP: 0px; HEIGHT: 18px; TEXT-ALIGN: left
}
.textBorder .pageText {
	MARGIN-LEFT: 4px; LINE-HEIGHT: 17px
}
#blog-163-com .textBorderMouseOvr {
	BORDER-RIGHT: #849cad 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #849cad 1px solid; MARGIN-TOP: 1px; PADDING-LEFT: 1px; BACKGROUND: url(http://st.blog.163.com/style/common/icn_page0.gif) #ffffff no-repeat 94% center; PADDING-BOTTOM: 0px; BORDER-LEFT: #849cad 1px solid; CURSOR: default; COLOR: #333333; PADDING-TOP: 0px; BORDER-BOTTOM: #849cad 1px solid; HEIGHT: 16px; TEXT-ALIGN: left
}
.textBorderMouseOvr .pageText {
	MARGIN-LEFT: 2px; LINE-HEIGHT: 15px
}
.floatRight {
	FLOAT: right
}
.updownPageNolink {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN-LEFT: 2px; COLOR: #aaaaaa; LINE-HEIGHT: 20px; PADDING-TOP: 0px; HEIGHT: 18px
}
UNKNOWN {
	PADDING-RIGHT: 1px! important; PADDING-LEFT: 1px! important; PADDING-BOTTOM: 0px! important; PADDING-TOP: 1px! important
}
.updownPage {
	PADDING-RIGHT: 3px; MARGIN-TOP: 1px; DISPLAY: block; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; WIDTH: 26px; LINE-HEIGHT: 19px; PADDING-TOP: 0px; HEIGHT: 18px; TEXT-ALIGN: right; TEXT-DECORATION: none
}
#blog-163-com .updownPageMouseOvr {
	BORDER-RIGHT: #849cad 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #849cad 1px solid; MARGIN-TOP: 1px; DISPLAY: block; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; BORDER-LEFT: #849cad 1px solid; WIDTH: 24px; COLOR: #333333; LINE-HEIGHT: 17px; PADDING-TOP: 0px; BORDER-BOTTOM: #849cad 1px solid; HEIGHT: 16px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.updownPageMouseOvr:hover {
	TEXT-DECORATION: none
}
.divTxtColr {
	COLOR: #000000
}
.divTxtColr A {
	COLOR: #000000
}
